.iconColor {
  fill: $dark;
}

.socials {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.socials__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
  width: 22px;
  height: 22px;

  &:first-child {
    margin-left: 0;
  }
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: translate3D(-5px, 5px, 0);
  }

  &:focus {
    filter: invert(100%);
  }

  &:active {
    filter: invert(100%);
  }

  svg {
    width: inherit;
  }
}
