<pre style="font: 8px/4px monospace;">...........................
.,,,,,,,,,,,,,,,,,,,,,,,,,,
.,,,,,,,,,,,,,,,,,,,,,,,,,,
.,,,,,,,,,,,,,,,,,,,,,,,,,,
.,,,,,,,,,,,,,,,,,,,,,,,,,,
.,,,,,,,,,,,,,,,,,,,,,,,,,,
.,,,,,,,,,,,,,,,,,,,,,,,,,,
.,,,,,,,,,,,,,,,,,,,,,,,,,,
.,,,,,,,,,,,,,,,,,,,,,,,,,,
.,,,,,,,,,,,,,,,,,,,,,,,,,,
.,,,,,,,,,,,,,,,,,,,,,,,,,,
.,,,,,,,,,,,,,,,,,,,,,,,,,,
.,,,,,,,,,,,:::,,,,:';,,,,,
.,,,,,,,,,,,+++,,,+++++;,,,
.,,,,,,,,,,,+++,,+++++++,,,
.,,,,,,,,,,,+++,,++:,,;,,,,
.,,,,,,,,,,,+++,,+++,,,,,,,
.,,,,,,,,,,,+++,,++++',,,,,
.,,,,,,,,,,,+++,,,+++++;,,,
.,,,,,,,,,,,+++,,,,,++++:,,
.,,,,,,,,,,,+++,,,,,,,+++,,
.,,,,,,,,;,,+++,,;;,,,+++,,
.,,,,,,;++::+++,+++',;+++,,
.,,,,,,,++++++,,,+++++++,,,
.,,,,,,,,'+++,,,,,;+++',,,,
.,,,,,,,,,,,,,,,,,,,,,,,,,,
.,,,,,,,,,,,,,,,,,,,,,,,,,,
</pre>
<p>
  Javascript is lingua franca nowadays. Dive into turmoil of clientside scripting, using vanilla JS, jQuery or one of clientside MVC frameworks and learn how to write your own backend using Node.js.
</p>