<pre style="font: 10px/5px monospace;">                                  
                                  
                                  
          @                       
       @ @@@@ @  @@@@@@@@@@@@@@   
       @@@@@@@@ @@@@@@@@@@@@@@@@  
    @ @@@@@@  @@@@ @  @@ @@ @@@@@ 
    @@@@@@ @   @@  @@@@  @@@@@ @@@
    @@@@@ @    @@@@@@@@@@@@@@@@@@@
    @@@@@      @@@@@@@@@@@@@@@@@@@
  @@@@@@@@     @@@  @@    @@   @@@
  @@@@@@@       @@   @@   @@  @@@ 
   @@@@@         @@  @@   @  @@@  
   @@@@@@@        @@  @  @@ @@@   
@@@@@@@@@          @@ @  @ @@@    
@@@@@@@@@           @@   @@@@     
  @@@@@@@@@          @@  @@@      
  @@@@@@@             @@@@        
                       @@         
                                  
                                  
                                  
</pre>
<p>
  Ruby is very flexible scripting language, mostly used when developing web-applications, powering Ruby on Rails – open source web framework that is 'optimized for programmer happiness' making it #1 tool for rapidly developing web apps.
</p>