{% set
    section = {
        bredacrumbs: [
            {
                item: 'Hello, World!',
                link: '#'
            },
            {
                item: 'Meetup',
                link: ''
            },
            {
                item: 'Clojure Day',
                link: ''
            }
        ],
        date: 'December 7 – 8, 2029',
        address: 'Volodymyrska St, 101, Kyiv, Ukraine' ,
        title: 'Clojure Day',
        description: 'Two-day, free community driven event for everyone interested in Clojure and functional programming.',
        link: '#',
        img: 's-bg.jpg'
    }
%}

<section class="first-scrin-s">
    <div class="wrap">
        <ul class="bredacrumbs">
            {% for item in section.bredacrumbs %}
            <li class="icon-arrow-small">
                {% if item.link %}<a href="{{item.link}}">{% endif %}
                    {{item.item}}
                    {% if item.link %}</a>{% endif %}
            </li>
            {% endfor %}
        </ul>
        <div class="first-scrin-s__inner">
            <div class="first-scrin-s__part">
                <div class="first-scrin-s__meta">
                    <div class="meta-item icon-calendar">
                        {{section.date}}
                    </div>
                    <div class="meta-item icon-marker">
                        {{section.address}}
                    </div>
                </div>
                <h1 class="first-scrin-s__title">
                    {{section.title}}
                </h1>
                <div class="first-scrin-s__description">
                    {{section.description}}
                </div>
                <a href="#" target="_blank" class="btn-default btn-default--big">
                    <span class="btn-default__inner">
                        Register Now
                </a>
            </div>
            <div class="first-scrin-s__part">
                <img class="ab ab--b" src="assets/img/images/{{section.img}}" alt="">
            </div>
        </div>
    </div>
</section>