{% set 
    section = {
        title: 'Schedule',
        days: [
            {
                date: 'December 7, 2029',
                btnLink: '#',
                day: [
                    {
                        time: '10:00 - 10:45',
                        img: '40.png',
                        title: 'Registration & Morning coffee',
                        positionText: '',
                        company: '',
                        subject: '',
                        language: ''
                    },
                    {
                        time: '10:45 - 11:00',
                        img: '41.png',
                        title: 'Opening',
                        positionText: '',
                        company: '',
                        subject: '',
                        language: ''
                    },
                    {
                        time: '11:00 - 11:30',
                        img: '42.png',
                        title: 'Andrew Matthews',
                        positionText: 'Software Engineer',
                        company: '@ Microsoft',
                        subject: 'Clojure at Attendify',
                        language: 'en'
                    },
                    {
                        time: '11:40 - 12:10',
                        img: '43.png',
                        title: 'James Willis',
                        positionText: 'Software Engineer',
                        company: '@ Pied Piper',
                        subject: 'ClojureScript × Type Inference',
                        language: 'en'
                    },
                    {
                        time: '12:10 - 12:40',
                        img: '44.png',
                        title: 'Break',
                        positionText: '',
                        company: '',
                        subject: '',
                        language: ''
                    },
                    {
                        time: '12:40 - 13:10',
                        img: '45.png',
                        title: 'Christian Carr',
                        positionText: 'Co-Founder',
                        company: '@ Facebook',
                        subject: 'Clojure+ClojureScript — Hide The Pain Frontend',
                        language: 'en'
                    },
                    {
                        time: '13:10 - 14:10',
                        img: '46.png',
                        title: 'Lunch',
                        positionText: '',
                        company: '',
                        subject: '',
                        language: ''
                    },
                    {
                        time: '14:10 - 14:40',
                        img: '47.png',
                        title: 'Alexander Allenman',
                        positionText: 'Co-Founder',
                        company: '@ Facebook',
                        subject: 'Clojure makes ElasticSearch bearable',
                        language: 'en'
                    },
                    {
                        time: '14:40 - 15:00',
                        img: '44.png',
                        title: 'Break',
                        positionText: '',
                        company: '',
                        subject: '',
                        language: ''
                    },
                    {
                        time: '15:00 - 15:30',
                        img: '48.png',
                        title: 'Q&A session',
                        positionText: '',
                        company: '',
                        subject: '',
                        language: ''
                    },
                    {
                        time: '15:40 - 16:10',
                        img: '49.png',
                        title: 'Shirley Banks',
                        positionText: 'Software Engineer',
                        company: '@ SLACK',
                        subject: 'A New Age of JVM Garbage Collectors',
                        language: 'en'
                    },
                    {
                        time: '16:10 - 16:30',
                        img: '44.png',
                        title: 'Break',
                        positionText: '',
                        company: '',
                        subject: '',
                        language: ''
                    },
                    {
                        time: '16:30 - 17:00',
                        img: '49.png',
                        title: 'Joe Morgan',
                        positionText: 'Private Contractor',
                        company: '',
                        subject: 'GraphRC => GraphQL on GRPC',
                        language: 'en'
                    },
                    {
                        time: '17:00 - 17:20',
                        img: '44.png',
                        title: 'Break',
                        positionText: '',
                        company: '',
                        subject: '',
                        language: ''
                    },
                    {
                        time: '17:30 - 18:00',
                        img: '50.png',
                        title: 'Rachel Stevens',
                        positionText: 'Software Engineer',
                        company: '',
                        subject: 'Typing is not just OOP. How Rust type system helps avoiding many programming errors.',
                        language: 'en'
                    },
                    {
                        time: '18:00 - 18:15',
                        img: '51.png',
                        title: 'Closing',
                        positionText: '',
                        company: '',
                        subject: '',
                        language: ''
                    },
                    {
                        time: '18:15 - 22:00',
                        img: '52.png',
                        title: 'Afterparty',
                        positionText: '',
                        company: '',
                        subject: '',
                        language: ''
                    }
                ]
            },
            {
                date: 'December 8, 2029',
                btnLink: '#',
                day: [
                    {
                        time: '08:00 - 22:00',
                        img: '52.png',
                        title: 'Afterparty',
                        positionText: '',
                        company: '',
                        subject: '',
                        language: ''
                    }
                ]
            }
        ]
    }
%}

<section class="schedule">
    <div class="wrap">
        <div class="schedule__header">
            <h4 class="schedule__title">
                {{section.title}}
            </h4>
            <div class="schedule__tabs">
                {% for item in section.days %}
                <button class="schedule__tab{% if loop.index == 1%} active{% endif %}">{{item.date}}</button>
                {% endfor %}
            </div>
        </div>
        <div class="schedule__inner">
            {% for item in section.days %}
            <div class="schedule__day{% if loop.index == 1%} active{% endif %}">
                {% for i in item.day %}
                <div class="schedule__item ab ab--b">
                    <div class="schedule__date">
                        {{ i.time }}
                    </div>
                    <div class="schedule__content">
                        <div class="schedule__item-img">
                            <div class="schedule__img-inner">
                                <img src="assets/img/images/{{i.img}}" alt="">
                            </div>
                        </div>
                        <div class="schedule__content-inner">
                            <div class="schedule__item-title">
                                {{ i.title }}
                            </div>
                            {% if i.positionText %}
                            <div class="schedule__item-position">
                                {{ i.positionText }}
                                {% if i.company %}
                                <span>{{i.company}}</span>
                                {% endif %}
                            </div>
                            {% endif %}
                            {% if i.subject %}
                            <div class="schedule__item-subject">
                                {{ i.subject }}
                                {% if i.language %}
                                <span class="schedule__item-language">{{i.language}}</span>
                                {% endif %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                <a href="{{item.btnLink}}" target="_blank" class="btn-default btn-default--big">
                    <span class="btn-default__inner">
                        Register Now
                    </span>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>