{% set
    section = {
        title: 'Testimonials',
        testimonials: [
            {
                img: '55.jpg',
                name: 'Jane Wong',
                position: 'Software Engineer',
                company: '',
                text: 'If you see someone who is making an extra effort to ensure our community is welcoming, friendly, and encourages all participants to contribute to the fullest extent, we want to know.',
                stars: [
                {
                    star: 'icon-star'
                },
                {
                    star: 'icon-star'
                },
                {
                    star: 'icon-star'
                },
                {
                    star: 'icon-star'
                },
                {
                    star: 'icon-star gray'
                }
                ]
            },
            {
                img: '56.jpg',
                name: 'Craig Armstrong',
                position: 'Software Engineer',
                company: '@ Pied Piper',
                text: 'This Code of Conduct outlines our expectations for all those who participate in our community, as well as the consequences for unacceptable behavior.',
                stars: [
                {
                star: 'icon-star'
                },
                {
                star: 'icon-star'
                },
                {
                star: 'icon-star'
                },
                {
                star: 'icon-star'
                },
                {
                star: 'icon-star'
                }
                ]
            },
            {
                img: '55.jpg',
                name: 'Jane Wong',
                position: 'Software Engineer',
                company: '',
                text: 'If you see someone who is making an extra effort to ensure our community is welcoming, friendly, and encourages
                all participants to contribute to the fullest extent, we want to know.',
                stars: [
                {
                star: 'icon-star'
                },
                {
                star: 'icon-star'
                },
                {
                star: 'icon-star'
                },
                {
                star: 'icon-star'
                },
                {
                star: 'icon-star'
                }
                ]
            },
            {
                img: '56.jpg',
                name: 'Craig Armstrong',
                position: 'Software Engineer',
                company: '@ Pied Piper',
                text: 'This Code of Conduct outlines our expectations for all those who participate in our community, as well as the
                consequences for unacceptable behavior.',
                stars: [
                {
                star: 'icon-star'
                },
                {
                star: 'icon-star'
                },
                {
                star: 'icon-star'
                },
                {
                star: 'icon-star'
                },
                {
                star: 'icon-star'
                }
                ]
            },
            {
                img: '55.jpg',
                name: 'Jane Wong',
                position: 'Software Engineer',
                company: '',
                text: 'If you see someone who is making an extra effort to ensure our community is welcoming, friendly, and encourages
                all participants to contribute to the fullest extent, we want to know.',
                stars: [
                {
                star: 'icon-star'
                },
                {
                star: 'icon-star'
                },
                {
                star: 'icon-star'
                },
                {
                star: 'icon-star'
                },
                {
                star: 'icon-star'
                }
                ]
            },
            {
                img: '56.jpg',
                name: 'Craig Armstrong',
                position: 'Software Engineer',
                company: '@ Pied Piper',
                text: 'This Code of Conduct outlines our expectations for all those who participate in our community, as well as the
                consequences for unacceptable behavior.',
                stars: [
                {
                star: 'icon-star'
                },
                {
                star: 'icon-star'
                },
                {
                star: 'icon-star'
                },
                {
                star: 'icon-star'
                },
                {
                star: 'icon-star'
                }
                ]
            }
        ]
    }
%}

<section id="7" class="testimonials target">
    <div class="wrap">
        <h4 class="testimonials__title">
            <div class="testimonials__title-inner">
                {{section.title}} <span class="icon-quote2"></span>
            </div>
        </h4>
        <div class="testimonials__inner testimonials_slider_js">
            {% for item in section.testimonials %}
            <div class="testimonials-item">
                <div class="testimonials-item__top">
                    <div class="testimonials-item__img">
                        <img src="assets/img/images/{{item.img}}" alt="">
                    </div>
                    <div class="testimonials-item__top-text">
                        <div class="testimonials-item__name">
                            {{item.name}}
                        </div>
                        <div class="testimonials-item__position">
                            {{item.position}} <span>{{item.company}}</span>
                        </div>
                    </div>
                </div>
                <div class="testimonials-item__content">
                    {{item.text}}
                </div>
                <div class="stars">
                    {% for i in item.stars %}
                    <span class="{{i.star}}"></span>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>