---

---

<!DOCTYPE html>
<html>
<head>
  <title>Kottans</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="public/styles/home.css">
  <link rel="stylesheet" href="vendor/toastr/toastr.css">
  <link rel="apple-touch-icon" sizes="57x57" href="public/images/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="public/images/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="public/images/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="public/images/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="public/images/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="public/images/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="public/images/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="public/images/favicons/apple-touch-icon-152x152.png">
  <link rel="icon" type="image/png" href="public/images/favicons/favicon-196x196.png" sizes="196x196">
  <link rel="icon" type="image/png" href="public/images/favicons/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="public/images/favicons/favicon-96x96.png" sizes="96x96">
  <!--<link rel="icon" type="image/png" href="public/images/favicons/favicon-16x16.png" sizes="16x16">-->
  <link rel="icon" type="image/png" href="public/images/favicons/favicon-32x32.png" sizes="32x32">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
</head>
<body>
  <!--[if lte IE 7]>
  <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <section id="intro">
    <a id="header-logo" href="#" class="logo">
      <div class="glitched-logos-wrapper">
        <div class="glitched-logo glitched-logo-1"></div>
        <div class="glitched-logo glitched-logo-2"></div>
        <div class="glitched-logo glitched-logo-3"></div>
        <div class="glitched-logo glitched-logo-4"></div>
        <div class="glitched-logo glitched-logo-5"></div>
        <div class="glitched-logo glitched-logo-6"></div>
      </div>
    </a>


    <div class="nav-section">
      <h1><a href="#intro">Kottans</a></h1>

      <div class="suppl-content">
        <a href="https://github.com/kottans" class="github-link" target="_blank">GitHub</a>
      </div>

      <nav>
        <ul>
          <li><a href="#about">About</a></li>
          <li><a href="#slides">Slides</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="#ournews">News</a></li>
        </ul>
      </nav>
    </div>
  </section>

  <section id="about">
    <div class="container">
      {% include about.html %}
    </div>
  </section>


  <section id="slides">
    <div class="container">
      {% include slides.html %}
    </div>
  </section>

  <section id="team">
    <div class="container">
    <h2>Coaches:</h2>
      <nav class="years-nav">
        <div class="table-years">
        {% for year in site.data.coaches.years %}
          {% if forloop.index == 1 %}
            <a class="active" href="#{{year.year}}">{{year.year}}</a>
          {% else %}
            <a href="#{{year.year}}">{{year.year}}</a>
          {% endif %}
        {% endfor %}
        </dir>
      </nav>
      {% for year in site.data.coaches.years %}
        {% if forloop.index == 1 %}
          <div id="{{year.year}}" class="year current">
        {% else %}
          <div id="{{year.year}}" class="year">
        {% endif %}
        {% include coaches.html %}
          </div> <!-- .year -->
      {% endfor %}
    </div>
  </section>

  <section id="contact">
    <div class="container">
      {% include contact.html %}
    </div>
  </section>
  <section id="ournews">
    <div class="container">
      {% include news.html %}
    </div>
  </section>

<section id="supporters">
  <div class="container">
    <h2>Grateful for support from</h2>
    <ul>
      <li>
          <a href="http://cogniance.com" target="_blank">
            <img src="public/images/cogniance.png" alt="Cogniance">
          </a>
      </li>
    </ul>
  </div>
  </section>

  <footer>
    <ul class="social-links">
      <li><a href="https://www.facebook.com/kottans" class="facebook" target="_blank">Facebook</a></li>
      <li><a href="https://twitter.com/Kottans_org" class="twitter" target="_blank">Twitter</a></li>
      <li><a href="https://github.com/Kottans" class="vimeo" target="_blank">GitHub</a></li>
    </ul>
    <div class="legal">
      <small>Copyright &copy; <time datetime="{{ site.time | date: '%Y-%m-%d' }}">{{ site.time | date: '%Y' }}</time> Kottans. All rights reserved.</small>
    </div>
  </footer>

  <script src='vendor/jquery/dist/jquery.min.js'></script>
  <script src='vendor/imgLiquid/js/imgLiquid-min.js'></script>
  <script src='public/scripts/fixed_header.js'></script>
  <script src='public/scripts/year-switcher.js'></script>
  <script src='public/scripts/images.js'></script>
  <script src="public/scripts/glitch.js"></script>
</body>
</html>
