{% set
    section = {
        img: '24.jpg',
        title: 'About the Clojure Day',
        content: [
            {
                p: 'We are looking for smart, friendly, self-directed and intellectually curious people who enjoy programming and want to get significantly better.'
            },
            {
                p: 'We are passionate about programming and think that everybody can pick it up.'
            }
        ],
        nambers: [
            {
                title: 'React fans and guests',
                number: 24,
                end: '00'
            },
            {
                title: 'Speakers',
                number: 20,
                end: '+'
            },
            {
                title: 'Lectures',
                number: 13,
                end: ''
            }
        ]
    }
%}

<section id="1" class="single-about target">
    <div class="wrap">
        <div class="single-about__inner">
            <div class="single-about__part">
                <div class="single-about__img bg ab ab--b ab--right"
                    style="background-image: url('/assets/img/images/{{section.img}}');">
                    <a href="#" class="play-btn"><span class="icon-play"></span></a>
                </div>
            </div>
            <div class="single-about__part">
                <h4>{{section.title}}</h4>
                {% for item in section.content %}
                <p>{{item.p}}</p>
                {% endfor %}
                <div class="nambers-block">
                    {% for item in section.nambers %}
                    <div class="nambers-block__item">
                        <div class="nambers-block__namber">
                            <span class="count_js animate_count ab ab--b"
                                data-count="{{item.number}}">0</span>{{item.end}}
                        </div>
                        <div class="nambers-block__title">
                            {{item.title}}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>