{% set 
  questions = [
    {
      title: 'When next course starts?',
      answer: [
        {
          p: "We don't know 🤷"
        },
        {
          p: "Our courses don’t have a fixed schedule. Whenever we decide to launch one, we will make an announcement on our twitter account and telegram channel <a href='https://t.me/radio_kottans'>Radio Kottans</a>."
        },
        {
          p: "But don't get upset if no courses are currently running, because all programs are available on GitHub and you can complete tasks with other students."
        },
        {
          p: 'We call this format P2P education.'
        }
      ]
    },
    {
      title: "How to join a course?",
      answer: [
        {
          p: "Wait for the course announcement and follow the guides."
        },
        {
          p: "In general, we do not require any formal registration. You can just dive into the curriculum by starting to complete tasks."
        },
        {
          p: "Yes, it is that simple."
        }
      ]
    },
    {
      title: "What does a course look like?",
      answer: [
        {
          p: "Usually, we separate our course in two parts - preparatory part and main part."
        },
        {
          p: "To get to the main part, one should complete the preparatory part. "
        },
        {
          p: "The preparatory part is a list of tasks - video-lectures, code tasks, etc. The main part includes lectures and workshops with mentors."
        },
        {
          p: 'We try to record all our lectures and keep them available to students who missed a lecture and to everyone interested. You can take a look at our lectures in our YouTube channel.'
        }
      ]
    },
    {
      title: "Will you have courses in other cities (except Kyiv)?",
      answer: [
        {
          p: "For a Kottans course to be held we rely on volunteers. You can be the person to start a Kottans course in your city."
        },
        {
          p: "Few dedicated mentors and a location are minimal requirements. If you like our help - fill <a href='https://forms.gle/kjJfvvsLEUZW18KG9'>this form</a>"
        }
      ]
    },
    {
      title: "Will you have courses in Java/C#/PHP/other technology?",
      answer: [
        {
          p: "Same as with other cities: we are happy to support initiative from people willing to start a course."
        },
        {
          p: "This is not as hard as it sounds."
        }
      ]
    },
    {
      title: "Why are your courses free? Do I need to pay anything later?",
      answer: [
        {
          p: "We enjoy sharing our knowledge and experience and we do it for free just for fun."
        },
        {
          p: "We see this as our contribution to Ukrainian developers community."
        },
        {
          p: "We are not recruiters. The courses do not have any hidden penalty."
        },
        {
          p: 'But if you strive to support us - you can become our patreon ;)'
        }
      ]
    },
    {
      title: "Will I get a job after successfully finishing your course?",
      answer: [
        {
          p: "We are not affiliated to any company and we cannot guarantee employment for our students."
        },
        {
          p: "Neither are our courses tailored to successfully passing the job interview: we teach what we think is important."
        },
        {
          p: "Yet from our experience people who work hard have no problem finding a job. We always gladly give recommendations for our alumni."
        }
      ]
    },
    {
      title: "I am a complete beginner doing my first steps in programming. Can I join?",
      answer: [
        {
          p: "Yes, we welcome all people regardless of programming experience or prior knowledge."
        },
        {
          p: "Join our chats and feel free to ask any questions about the material you are learning."
        }
      ]
    }
  ]
%}

<section id="4" class="def-section target">
  <div class="wrap">
    <div class="def-section__inner">
      <div class="def-section__title no-top-padding ab ab--b ab--right">
        <h3>F.A.Q.</h3>
      </div>
      <div class="def-section__content">
        <div class="questions">
          {% for item in questions %}
          <div class="question">
            <div class="question__header">
              <a class="question__text question_js">
                {{item.title}}
              </a>
              <button class="question__btn question_js"></button>
            </div>
            <div class="question__inner">
              {% for i in item.answer %}
              <p>{{i.p | safe}}</p>
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
