<section class="section section--about" id="about">
  <div class="container">
    <aside class="section__sidebar">
      <div class="sidebar--content">
        <h2>
          <a class="anchor" href="#about">
            <p>About</p>
            <p>Kottans</p>
          </a>
        </h2>
        {% include "partials/_menu.html" %}
      </div>
    </aside>
    <div class="section__content">
      <div class="about">
        <div class="about__feed">
          <div class="about__sloganWrapper">
            <div class="about__slogan">
              <span>> Knowledge must be shared</span>
            </div>
          </div>
          <div class="about__text js-about__text collapsed__text" data-collapsed-text="readMore-about">
            <h3 class="about__textTitle">
              We are community of developers that love to code and help each other.
            </h3>
            <p>We are looking for smart, friendly, self-directed and intellectually curious people who enjoy
              programming
              and want to get significantly better.</p>
            <p>We are passionate about programming and think that everybody can pick it up or switch to the different
              field at any time they want, given some amount of motivation, dedication and hard work.</p>
            <p>Nevertheless, doing that on one's own can be challenging when it comes to continuing without support
              from
              surrounding people, such situation really beats the motivation, especially when encountering either
              boring
              or impossible to do (at first glance) task or illogical aspect of programming language you can't just
              grasp.</p>
            <p>That's the reason behind us getting together and sharing knowledge.</p>
            <p>Our initiative is community driven, making it super-flexible in terms of adapting to what students want
              while keeping in mind the main idea - learn something new and do it in the fun way, creating something
              meaningful along the way.</p>
          </div>
          <div class="buttonWrapper">
            <button class="read-more" data-parent="readMore-about">
              read more
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
