{% set
courses = [{
  sliderClassName: 'slider__item--active',
  shortcut: 'FE',
  className: 'course--frontend',
  header: 'Front-End for Juniors',
  technologies: ['JavaScript', 'ReactJS', 'HTML/CSS'],
  skills: ['Pre-intermediate English', 'JavaScript basics', 'basic HTML, CSS'],
  link: 'https://github.com/kottans/frontend',
  chats: [{
    link: 'https://t.me/joinchat/DmX0JAl-mh5W0jrWli8Ycw',
    title: 'FE Questionarium'
  }, {
    link:  'https://t.me/joinchat/DmX0JBHVkEhV1us2HdMmpA',
    title: 'FE Students'
  }]
}, {
  shortcut: 'NodeJS',
  className: 'course--nodejs',
  header: 'NodeJS for Juniors',
  technologies: ['JavaScript', 'ReactJS', 'HTML/CSS'],
  skills: ['Pre-intermediate English', 'JavaScript basics'],
  link: 'https://github.com/kottans/backend',
  chats: [{
    link: 'https://t.me/joinchat/DqrdixM_mjurcmQkkQ11Og',
    title: 'BE Questionarium'
  }, {
    link:  'https://t.me/joinchat/Dqrdixe1c2K9bXUFBzNWtg',
    title: 'BE Students'
  }]
}]  
%}

<div class="section section--courses" id="courses">
  <div class="container">
    <aside class="section__sidebar">
      <div class="sidebar--content">
        <h2>
          <a class="anchor" href="#courses">
            <span>Our</span>
            <span>Courses</span>
          </a>
        </h2>
        {% include "partials/_menu.html" %}
      </div>
    </aside>
    <div class="section__content">
      <div class="slider" id="coursesSlider">
        <div class="slider__inner">
          <ul class="slider__list">
            {% for slide in courses %}
            <li class="slider__item js-slider__item {{slide.sliderClassName}}">
              <section class="course {{slide.className}}">
                <div class="course__label">
                  {{slide.shortcut}}
                </div>
                <section class="course__content">
                  <h3 class="course__title">
                    Course
                    <a href="{{slide.link}}" class="course__titleLink">
                      {{slide.header}}
                    </a>
                  </h3>
                  <div class="course__descriptionWrapper">
                    <div class="course__description">
                      <h4 class="course__title">
                        Technology
                      </h4>
                      <ul class="course__descriptionList">
                        {% for technology in slide.technologies %}
                          <li class="course__descriptionItem">{{technology}}</li>
                        {% endfor %}
                      </ul>
                    </div>
                    <div class="course__description">
                      <h4 class="course__title">
                        Skills
                      </h4>
                      <ul class="course__descriptionList">
                        {% for skill in slide.skills %}
                          <li class="course__descriptionItem">{{skill}}</li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                  <section class="course__chats">
                    <h4 class="course__title course__title--chats">Telegram chats</h4>
                    <ul>
                      {% for chat in slide.chats %}
                      <li class="course__chatsItem">
                        <a href="{{chat.link}}" target="_blank" rel="noopener noreferrer nofollow" class="socials__chatsLink">
                          {{ telegram|safe }} {{ chat.title }}
                        </a>
                      </li>
                      {% endfor %}
                    </ul>
                  </section>
                </section>
                <div class="course__bg">
                  <img src="img/course_hand.png" alt="course hand" />
                </div>
              </section>
            </li>
            {% endfor %}
          </ul>
          <nav class="menuSlider">
            <h4 class="menuSlider__title">Courses</h4>
            <ul class="menuSlider__list js-menuSlider__list">
              {% for slide in courses %}
                <li class="menuSlider__item js-menuSlider__item" data-slider-id="{{loop.index}}">
                  <a href="#" class="menuSlider__link">{{slide.header}}</a>
                </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
        <div class="slider__controls">
          <button class="slider__button slider__button--previous" id="slider__previous"></button>
          <button class="slider__button slider__button--next" id="slider__next"></button>
        </div>
      </div>
    </div>
  </div>
</div>
