<div class="course {{slide.className}}">
  <div class="course__label">
    {{slide.shortcut}}
  </div>
  <div class="course__content">
    <h3 class="course__title">
      Course
      <a href="{{slide.link}}" class="course__titleLink">
        {{slide.header}}
      </a>
    </h3>
    <div class="course__descriptionWrapper">
      <div class="course__description">
        <h4 class="course__title">
          Technology
        </h4>
        <ul class="course__descriptionList">

          {% for technology in slide.technologies %}
            <li class="course__descriptionItem">{{technology}}</li>
          {% endfor %}

        </ul>
      </div>
      <div class="course__description">
        <h4 class="course__title">
          Skills
        </h4>
        <ul class="course__descriptionList">

          {% for skill in slide.skills %}
            <li class="course__descriptionItem">{{skill}}</li>
          {% endfor %}

        </ul>
      </div>
    </div>
    <section class="course__chats">
      <h4 class="course__title course__title--chats">Telegram chats</h4>
      <ul>

        {% for chat in slide.chats %}
          <li class="course__chatsItem">
            <a href="{{chat.link}}" target="_blank" rel="noopener noreferrer nofollow" class="socials__chatsLink">
              {{ telegram|safe }} {{ chat.title }}
            </a>
          </li>
        {% endfor %}

      </ul>
    </section>
  </div>
  <div class="course__bg">
    <img src="img/course_hand.png" alt="course hand" />
  </div>
</div>