<section class="hero content-wrapper" id="hero">
  <div class="container">
    <aside class="section__sidebar js-section__sidebar">
      {% include "partials/_menu.html" %}
    </aside>
    <h2 class="hero__slogan">
      <p>
        <span>
          Hello,
        </span>
        <span>
          World!
        </span>
      </p>
      <p>Meet Kottans. IT community</p>
      <span class="hero__target" id="hero__target"></span>
    </h2>

    <div class="hero__promo">
      <div class="hero__promoTop">
        <div class="hero__promoText">
          <span>
            The main goal of Kottans is that
          </span>
        </div>
      </div>
      <div class="hero__promoBottom">
        <div class="hero__promoText">
          <span>
            Knowledge must be shared
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
