<section class="inputConf" id="inputConf">
  <div class="container">
    <div class="inputConf__imageWrapper">
      <img src="img/input-logo.png" alt="Input conference logo" class="inputConf__image">
    </div>
    <div class="inputConf__socialWrapper">
      <ul class="inputConf__socialList">
        <li class="inputConf__socialItem">
          <a href="#" class="inputConf__socialLink">
            {{facebook|safe}}
          </a>
        </li>
        <li class="inputConf__socialItem">
          <a href="#" class="inputConf__socialLink">
            {{twitter|safe}}
          </a>
        </li>
        <li class="inputConf__socialItem">
          <a href="#" class="inputConf__socialLink">
            {{mail|safe}}
          </a>
        </li>
      </ul>
    </div>
    <div class="inputConf__textWrapper">
      <div class="inputConf__text">
        <p>
          Conference with a bunch of
        </p>
        <p>
          uncut talks from
        </p>
        <p>
          people working in IT, for
        </p>
        <p>
          people, who just want to try
        </p>
      </div>
    </div>
    <!-- <div class="inputConf__dataWrapper">
      <div class="inputConf__dataTime">
        <p>May 25, 2019</p>
      </div>
      <div class="inputConf__dataPlace">
        <p>InnoHub</p>
        <address>03142, Vatslava Havela Boulevard, 6з, Kyiv, 03067</address>
      </div>
      <div class="inputConf__buttonWrapper">
        <button class="inputConf__button">
          <span>
            get ticket
          </span>
        </button>
      </div>
    </div> -->
  </div>
</section>
