{% import "data/__mentorsKyiv.html" as data %}

<div class="section--mentor" id="mentor">
  <div class="section__content">
    <div class="mentor__heading">
      <h3>Mentors:</h3>
    </div>
    <div class="mentor">
      <div class="mentor__wrapper">
        <nav id="mentor__nav" class="mentor__nav">
          <div id="mentor___nav-contents" class="mentor__nav-contents">
            {% for item in data.allMentors %}
              <p class="mentor__nav-link" aria-selected="{{ item.selected }}" data-tab="{{ item.year }}">
                {{ item.duration }}
              </p>
            {% endfor %}
            
            <p id="mentor__indicator-pn" class="mentor__nav-indicator"></p>
          </div>
        </nav>
      </div>
      <button id="mentor__btnLeft-pn" class="mentor__btn mentor__btn_Left" type="button"></button>
      <button id="mentor__btnRight-pn" class="mentor__btn mentor__btn_Right" type="button"></button>

      {% for item in data.allMentors %}
        <div id={{ item.year }} class="b-tab {{ item.active }}">
          <div class="mentor__container">

            {% for mentor in item.mentors %}
              <div class="mentor__row">
                <div class="mentor__avatar-container">
                  <div class="mentor__photo">
                    <img class="mentor__img" src="img/mentors/{{mentor.img}}" alt="{{mentor.name}}" />
                  </div>
                </div>
                <div class="mentor__details-container">
                  <div class="mentor__content">
                    <div class="mentor__name">
                      <h4>{{mentor.name}}</h4>
                    </div>
                    <p class="mentor__language">
                      <span class="mentor__language-bold">Language :</span> {{mentor.language}}
                    </p>
                  </div>
                  <div class="mentor__memberSocials">

                    {% if mentor.github %}
                      <a href="https://github.com/{{mentor.github}}" class="mentor__memberLink">
                        {{github|safe}}
                      </a>
                    {% endif %}
                    {% if mentor.twitter %}
                      <a href="https://twitter.com/{{mentor.twitter}}" class="mentor__memberLink">
                        {{twitter|safe}}
                      </a>
                    {% endif %}

                  </div>
                </div>
              </div>
            {% endfor %}

          </div>
        </div>
      {% endfor %}

    </div>
  </div>
</div>
