{% set
  list = [
    {
      img: 'AnnaStepashko.jpg',
      text1: 'It so happened that at some point I was surrounded by people related to the IT industry. In conversations I have again and again heard topics that were unclear to me, and, judging by those conversations, web development was quite a creative job (and I love to be creative). I challenged myself: "Can you do it?" And I got enrolled to the course after diligently making all test assignments. Not only do the Kottans explain the basics and repeat it a number of times to make material completely clear, but they also help to train self-organization very well (personally, my level has risen). And this is a big family - there is always support in chat rooms (if you’re stuck), informal outdoor parties, etc.',
      text2: 'And yes! I quickly found a job. Not after the first interview (you need to acquire some experience points in passing the interviews), but a housewife (with a long experience) without formal education started to work as a Junior front-end developer in the Ministry of Finance (and coded not only HTML & CSS but did proper JS tasks).',
      text3: 'There is still a lot to learn, to grasp, to understand, and I manage it more or less quickly - the main thing is the start, and then it works like clock-work :)',
      name: 'Anna Stepashko',
      company: 'Front-end developer'
    },
    {
      img: 'MaryFedirko.jpg',
      text1: 'Recently I finished an interview task and thought to myself: could I even imagine a few months ago myself being able to make something like that? A wonderful feeling, I must say. The work was truly hard, and it will remain hard in the future. However if you progress at least in baby steps and with every step become better than your previous self, it\'s worth it.',
      text2: 'I wanted to join Kottans 2 years ago, but I  thought it was too early for me and I would not make it, I thought I needed work experience first... But time passed, and no particular experience or knowledge appeared) because the right time is here and now. Until you try, you do not know what you really are capable of and in what direction you want to go. Kottans offer not only cool courses, but it’s also a community, it\'s a whole subculture. There is no such thing as a dumb question here. Here you can both study and teach others, each time discovering new nuances of seemingly clear things.',
      text3: 'The course mentors deserve special mention. They are people you respect, admire and on which you really want to be like, when you grow up)) Who else would explain seemingly obvious things to an unknown person several times without losing self-control? :) Things like this are very motivating. It\'s awesome to learn from those who believe that quality knowledge is not a business, but a way to make the IT industry well developed, more successful and productive. You are cool, Kottans! Thank you!',
      name: 'Mary Fedirko',
      company: 'Front-end developer at MacPaw'
    },
    {
      img: 'VladVorobiov.jpg',
      text1: 'Before joining the  Kottans course, I went to "study" to a small company to a friend of mine. There I was immediately given React docs and told that this is how it works. After a month of such studies, I realized that I was clearly lacking the basics. And then I came across the announcement of an online course from Kottans. I took a look at the program - it was just what was needed. And I think that is what all beginners need.',
      text2: 'The program is systematized by experienced developers, and includes subjects from the very basics to reasonably advanced things from the development world. Live communication from the very beginning of the online course with pull-requests and reviews, an absolutely unique experience that is difficult to obtain even on paid resources. By the way, the lack of a fee in itself is amazing in our time, and at the same time guarantees the transparency of motivation of mentors - they want to help people, and therefore the reviews were as detailed and qualitative as possible. the course left only positive impressions. In addition, I got the opportunity to contribute to community life, which is invaluable in principle.',
      name: 'Vlad Vorobiov',
      company: 'Front-end developer at Jupser'
    },
    {
      img: 'MaksymKalashnyk.jpg',
      text1: 'I am very satisfied with the course! Almost all of my expectations were confirmed: I found new friends, new colleagues, gained new knowledge, received valuable tips and code review. When I joined the course, I was already working as a frontend developer knowing HTML, CSS, and some JavaScript basics, but I knew I wanted to have a more solid understanding of modern approaches to JavaScript development. I am grateful to mentors and active students for their high professionalism and contribution to such a cool community, for their positive attitude, openness, valuable advice and enthusiasm! Personally, I was waiting for the next class not only to get a new batch of knowledge but also to hang out after class))) During the training, we tried to contribute to various initiatives of the Kottans: social network postings, mutual assistance, help to students from the p2p course and so on.',
      text2: 'And the pinnacle of teamwork for all of us was the Input Conference, which our cool team succeeded to organize! To our team-lead and mentor Oleksiy Rudenko great respect for the fact that he wonderfully led the whole process and was an example for us! In my opinion, communities like this one help to change our country for the better! After all, mutual assistance, communication, and cooperation are the keys to success! I am proud to be a Kottan! And I feel that after the courses I became more professional in my field, and also contributed something useful to this community!',
      name: 'Maksym Kalashnyk',
      company: 'Front-end developer at Uptech'
    },
    {
      img: 'AlekseyIvanov.jpg',
      text1: 'It\'s more than courses, it\'s a whole family! Every Saturday I wait as a holiday and I have great pleasure in going to classes. But no matter how good is the support and no matter how good are the study materials, it\'s mainly about your effort. If you do not devote time each day to practice and analyze each source code line, the result will not come. An easy way into the IT industry is a fairy tale. You need to work on yourself and your self-organization. But if you still decide to change your life, then you definitely need to go to Kottans. Only modern technology stack, working programmers as mentors, not one, two, but many, and many of them will always answer your questions. And most importantly, there is no such thing as a stupid question here. I am very glad that I joined them and became a part of a big family.',
      name: 'Aleksey Ivanov',
      company: 'Front-end developer at UTAS'
    }
  ]
%}
<section class="section section--review" id="reviews">
  <div class="container">
    <aside class="section__sidebar">
      <div class="sidebar--content">
        <h2>
          <a class="anchor" href="#reviews">
            <p>
              <span>Reviews</span>
              <span>from</span>
            </p>
            <p>graduates</p>
          </a>
        </h2>
        {% include "partials/_menu.html" %}
      </div>
    </aside>
    <div class="section__content">
      <div class="review">
        <div class="review__feedWrapper">
          <div class="review__text">
            <h3>What People are Saying</h3>
          </div>
          <div class="review__feed collapsed__text" data-collapsed-text="reviews">
            {% for data in list %}
            <div class="review__item" data-id="{{loop.index}}">
              <div class="review__avatarWrapper">
                <img src="img/alumni/{{data.img}}" alt="{{data.name}}}" class="review__avatar">
              </div>
              <div class="review__textWrapper">
                <p class="review__text">
                  {{data.text1}}
                </p>
                <p class="review__text">
                  {{data.text2}}
                </p>
                {% if data.text3 %}
                <p class="review__text">
                  {{data.text3}}
                </p>
                {% endif %}
                <p class="review__name">
                  {{data.name}}
                </p>
                <p class="review__position">
                  {{data.company}}
                </p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="review__feedPagination">
          <div class="buttonWrapper">
            <button class="read-more" data-parent="reviews">
              Read more
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
