<ul class="socials">
  <li class="socials__item">
    <a href="https://t.me/radio_kottans" title="Radio Kottans" target="_blank" rel="noopener noreferrer nofollow" class="socials__link">
      {{telegram|safe}}
    </a>
  </li>
  <li class="socials__item">
    <a href="https://github.com/kottans" title="Kottans github" target="_blank" rel="noopener noreferrer nofollow" class="socials__link">
      {{github|safe}}
    </a>
  </li>
  <li class="socials__item">
    <a href="https://www.youtube.com/channel/UCAiEMvHpDa7UACh_2tXw5YA" title="Kottans youtube" target="_blank" rel="noopener noreferrer nofollow" class="socials__link">
      {{youtube|safe}}
    </a>
  </li>
  <li class="socials__item">
    <a href="https://twitter.com/kottans_org" title="Kottans twitter" target="_blank" rel="noopener noreferrer nofollow" class="socials__link">
      {{twitter|safe}}
    </a>
  </li>
  <li class="socials__item">
    <a href="https://www.instagram.com/kottans_org" title="Kottans instagram" target="_blank" rel="noopener noreferrer nofollow" class="socials__link">
      {{instagram|safe}}
    </a>
  </li>
  <li class="socials__item">
      <a href="mailto:kottans.org@gmail.com" title="Kottans mail" target="_blank" rel="noopener noreferrer nofollow" class="socials__link">
        {{mail|safe}}
      </a>
  </li>
</ul>
