<ul class="socials">
  <li class="socials__item telegram__icon">
    <a href="https://t.me/radio_kottans" target="_blank" rel="noopener noreferrer nofollow" class="socials__link">
      {{telegram|safe}} Radio Kottans
    </a>
  </li>
  <li class="socials__item">
    <a href="https://github.com/kottans" target="_blank" rel="noopener noreferrer nofollow" class="socials__link">
      {{github|safe}}
    </a>
  </li>
  <li class="socials__item youtube__icon">
    <a href="https://www.youtube.com/channel/UCAiEMvHpDa7UACh_2tXw5YA" target="_blank" rel="noopener noreferrer nofollow" class="socials__link">
      {{youtube|safe}}
    </a>
  </li>
  <li class="socials__item twitter__icon">
    <a href="https://twitter.com/kottans_org" target="_blank" rel="noopener noreferrer nofollow" class="socials__link">
      {{twitter|safe}}
    </a>
  </li>
  <li class="socials__item">
    <a href="https://www.instagram.com/kottans_org" target="_blank" rel="noopener noreferrer nofollow" class="socials__link">
      {{instagram|safe}}
    </a>
  </li>
  <li class="socials__item">
      <a href="mailto:kottans.org@gmail.com" target="_blank" rel="noopener noreferrer nofollow" class="socials__link">
        {{mail|safe}}
      </a>
  </li>
</ul>
