<ul class="socials">
  
  <li class="socials__item">
    <a href="https://github.com/kottans" class="socials__link">
      {{github|safe}}
    </a>
  </li>
  <li class="socials__item">
    <a href="https://www.youtube.com/channel/UCAiEMvHpDa7UACh_2tXw5YA" class="socials__link">
      {{youtube|safe}}
    </a>
  </li>
  <li class="socials__item">
    <a href="https://twitter.com/kottans_org" class="socials__link">
      {{twitter|safe}}
    </a>
  </li>
  <li class="socials__item">
    <a href="https://www.instagram.com/kottans_org" class="socials__link">
      {{instagram|safe}}
    </a>
  </li>
  <li class="socials__item">
      <a href="mailto:kottans.org@gmail.com" class="socials__link">
        {{mail|safe}}
      </a>
    </li>
</ul>
