<header>
  <h2>Crafted to inspire.<br>Knowledge must be shared.</h2>
</header>
<div class="content">
  <h3>Who we are.</h3>
    <p>We are community of developers that love to code and help each other.
        We are looking for smart, friendly, self-directed and intellectually curious people who enjoy programming and
        want to get significantly better.
        We are passionate about programming and think that everybody can pick it up or switch to the different field at
        any time they want, given some amount of motivation, dedication and hard work. Nevertheless, doing that on one's
        own can be challenging when it comes to continuing without support from surrounding people, such situation
        really beats the motivation, especially when encountering either boring or impossible to do (at first glance)
        task or illogical aspect of programming language you can't just grasp. That's the reason behind us getting
        together and sharing knowledge. Our initiative is community driven, making it super-flexible in terms of
        adapting to what students want while keeping in mind the main idea - learn something new and do it in the fun
        way, creating something meaningful along the way.
    </p>
</div>