<div class="unit one-third">
  
  <h2>Get Started</h2>
  <p>Wanna apply to our courses? Fill out the form.</p>
  
<!-- sample of how to provide additional info: -->
<!--   <div class="contact-info">
    <div class="header"><p>Closes course will be in 3 days</p></div>
    <p>Be sure to hurry.</p>
  </div> -->
</div>
<div class="unit two-thirds">
  <h2>Registration for courses</h2>

  {% include partials/form.html %}

  <div class="half unit language javascript-description">
    {% include languages/js.html %}
  </div>

  <div class="half unit language ruby-description">
    {% include languages/ruby.html %}
  </div>

  <div class="half unit language java-description">
    {% include languages/java.html %}
  </div>

</div>