<div class="unit two-thirds">
  <h2>Get Started</h2>
  <p>Wanna apply for our courses? Fill out the registration form, if there's an active one.</p>
  <p>You can also drop us a line at <u>kottans.org at gmail.com</u> or join our public chat in <a href="https://gitter.im/kottans/kottans.github.io">Gitter</a>.</p>
  <p>If you want to run a course in your city, see <a href="https://github.com/kottans/kottans-course-bootstrap">course bootstrap info</a> and maybe check open issues in <a href="https://github.com/kottans/kottans-ongoing-projects/issues">ongoing projects</a>.</p>
</div>
