<h2>Slides that we're using (you can use them too).</h2>
<ul>
  <li class="js">
    <a href="http://kottans.github.io/js-slides">JS course</a>
  </li>
  <li class="ruby">
    <a href="http://kottans.github.io/ruby-slides">Ruby course</a>  
  </li>
  <li class="java">
    <a href="http://kottans.github.io/java-slides">Java course</a>
  </li>
  <li class="csharp">
    <a href="http://kottans.github.io/csharp-slides">C# course</a>
  </li>
  <li class="erlang">
    <a href="http://kottans.github.io/erlcourses">Erlang course</a>
  </li>
</ul>
