.main-header {
  padding: 23px 0px;
  height: 108px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    left: 0;
    top: 0;
    padding: 15px;
    @media (min-width: 1600px) {
      padding: 15px 100px;
    }
    &.active {
      top: 0px;
      background: rgba(#fff, 0.4);
      position: fixed;
      backdrop-filter: blur(3px);
    }
  }
  &__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    @media (max-width: 360px) {
      transform: translate(-50%, -50%) scale(0.8);
    }
    svg {
      overflow: visible;
    }
    .eye {
      position: absolute;
      top: 20px;
      width: 10px;
      height: 10px;
      &:before {
        content: '';
        position: absolute;
        height: 9px;
        width: 2px;
        background: #000;
        transform: rotate(25deg);
        top: 0px;
        left: 2px;
        transition: transform 0.25s, left 0.25s;
      }
      &:after {
        content: '';
        position: absolute;
        height: 9px;
        width: 2px;
        background: #000;
        transform: rotate(-25deg);
        top: 0px;
        right: 2px;
        transition: transform 0.25s, right 0.25s;
      }
      &--left {
        left: 21px;
      }
      &--right {
        right: 22px;
        &:before {
          animation: eye-b 5s ease 1s infinite normal;
        }
        &:after {
          animation: eye-a 5s ease 1s infinite normal;
        }
      }
    }
    .left-line,
    .right-line {
      transition: transform 0.25s;
    }
    @media (min-width: 600px) {
      &:hover {
        .eye {
          &:before {
            transform: rotate(10deg);
            left: 3px;
            animation: 0;
          }
          &:after {
            transform: rotate(-10deg);
            right: 3px;
            animation: 0;
          }
        }
        .left-line {
          transform: translateX(-2px);
        }
        .right-line {
          transform: translateX(2px);
        }
      }
    }
  }
  .socials {
    @media (max-width: 600px) {
      display: none;
    }
  }
}

@keyframes eye-b {
  0% {
    transform: rotate(25deg);
    left: 2px;
  }
  90% {
    transform: rotate(25deg);
    left: 2px;
  }
  100% {
    transform: rotate(10deg);
    left: 3px;
  }
}
@keyframes eye-a {
  0% {
    transform: rotate(-25deg);
    right: 2px;
  }
  90% {
    transform: rotate(-25deg);
    right: 2px;
  }
  100% {
    transform: rotate(-10deg);
    right: 3px;
  }
}

.main-nav {
  background: rgba(#fff, 0.4);
  position: fixed;
  backdrop-filter: blur(3px);
  bottom: 10px;
  left: 30px;
  padding: 30px 12px;
  z-index: 1000;
  transition: all 0.5s;
  @media (min-width: 1600px) {
    left: 100px;
  }
  @media (max-width: 600px) {
    display: none;
  }
  ul {
    li {
      margin-bottom: 4px;
      &:last-of-type {
        margin-bottom: 0px;
      }
    }
    a {
      color: rgba($black, 0.7);
      line-height: 20px;
      font-size: 12px;
      position: relative;
      display: block;
      transition: all 0.25s;
      letter-spacing: -0.4px;
      &:before {
        position: absolute;
        font-size: 8px;
        left: 0px;
        top: 50%;
        transform: translate(-10px, -50%);
        opacity: 0;
        transition: all 0.25s;
      }
      &.active {
        padding-left: 42px;
        font-weight: 600;
        &:before {
          opacity: 1;
          transform: translate(0px, -50%);
        }
      }
      @media (min-width: 600px) {
        &:hover {
          padding-left: 42px;
          font-weight: 600;
          &:before {
            opacity: 1;
            transform: translate(0px, -50%);
          }
        }
      }
    }
  }
}

.btn-mobile-menu {
  height: 30px;
  width: 36px;
  position: relative;
  margin-left: 20px;
  display: none;
  flex-wrap: wrap;
  align-items: center;
  @media only screen and (max-width: 600px) {
    display: flex;
  }
  span {
    width: 100%;
    height: 4px;
    background: $black;
    display: block;
    border-radius: 2px;
    transition: all 0.25s;
    margin: 4px 0;
  }
  &:before {
    content: '';
    width: 100%;
    height: 4px;
    background: $black;
    display: block;
    border-radius: 2px;
    transition: all 0.25s;
  }
  &:after {
    content: '';
    width: 100%;
    height: 4px;
    background: $black;
    display: block;
    border-radius: 2px;
    transition: all 0.25s;
  }
  @media only screen and (min-width: 600px) {
    &:hover {
      span,
      &:before,
      &:after {
        background: $yellow;
      }
    }
  }
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - 110px);
  height: 100vh;
  background: rgba(255, 255, 255, 0.95);
  position: fixed;
  backdrop-filter: blur(3px);
  z-index: 101;
  max-width: 300px;
  padding: 40px 15px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  transition: opacity 0.2s, transform 0.3s;
  box-shadow: 0px 0px 100px 0 rgba(0, 0, 0, 0.7);
  opacity: 0;
  transform: translateX(-100%) !important;
  visibility: hidden;

  @media only screen and (max-width: 360px) {
    width: calc(100vw - 80px);
  }
  &__inner {
    .socials {
      margin-top: 40px;
    }
  }
  a:not(.btn-border) {
    padding: 8px 5px;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    color: $black;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    position: relative;
    letter-spacing: -1px;
    &:before{
      display: none;
    }
  }
  .btn-border {
    margin-top: 40px;
    padding: 5px 20px;
    width: 180px;
    max-width: 100%;
  }
  .sub {
    padding-left: 10px;
    a {
      font-size: 14px;
      padding: 8px 20px;
    }
  }
}

.active-menu {
  .mob-menu {
    opacity: 1;
    transform: translateX(0) !important;
    visibility: visible;
  }
  .btn-mobile-menu {
    span,
    &:before,
    &:after {
      background: #f56262;
    }
    span {
      opacity: 0;
      transform: rotate(-135deg);
      margin: 6px 0;
    }
    &:before {
      transform: translateY(10px) rotate(135deg);
    }
    &:after {
      transform: translateY(-10px) rotate(-135deg);
    }
  }
}
