[class^='icon-'],
[class*=' icon-'] {
  &:before {
    display: inline-block;
    vertical-align: middle;
    font-family: 'iconFont';
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0);
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
  }
}

.icon-tg:before {
  content: '\eA01';
}
.icon-gh:before {
  content: '\eA02';
}
.icon-yt:before {
  content: '\eA03';
}
.icon-tw:before {
  content: '\eA04';
}
.icon-ig:before {
  content: '\eA05';
}
.icon-ml:before {
  content: '\eA06';
}
.icon-arrow:before {
  content: '\eA07';
}
.icon-play:before {
  content: '\eA08';
}
.icon-arrow-bottom:before {
  content: '\eA09';
}
.icon-calendar:before {
  content: '\eA10';
}
.icon-clock:before {
  content: '\eA11';
}
.icon-list:before {
  content: '\eA12';
}
.icon-info:before {
  content: '\eA13';
}
.icon-arrows:before {
  content: '\eA14';
}
.icon-in:before {
  content: '\eA15';
}
.icon-quote:before {
  content: '\eA16';
}
.icon-arrow-small:before {
  content: '\eA17';
}
.icon-calendar:before {
  content: '\eA18';
}
.icon-marker:before {
  content: '\eA19';
}
