.color-control{
    --color: #FF00D4;
}

.color-control{
    .btn-default{
        .btn-default__inner{
            transition: all 0.25s;
        }
        &:hover{
            .btn-default__inner{
                background: var(--color);
                color: #fff;
            }
        }
    }
    .socials{
        a{
            &:before{
                transition: all 0.25s;
            }
            &:hover{
                &:before{
                    color: #fff !important;
                }
            }
            &:after{
                background: var(--color);
            }
        }
    }
}

.bredacrumbs{
    margin-bottom: 90px;
    display: flex;
    @media (max-width: 900px) {
        margin-bottom: 60px;
    }
    li{
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 500;
        color: rgba($black, 0.7);
        a{
            color: rgba($black, 0.7);
            transition: all 0.2s;
            &:hover{
                color: var(--color);
            }
        }
        &:before{
            font-size: 8px;
            margin: 0 10px;
            order: 1;
        }
        &:last-of-type{
            font-weight: 700;
            &:before{
                display: none;
            }
        }
    }
}

.first-scrin-s{
    margin-bottom: 160px;
    @media (max-width: 900px) {
        margin-bottom: 80px;
    }
    &__inner{
        display: flex;
        justify-content: center;
        @media (max-width: 900px) {
            flex-wrap: wrap;
        }
    }
    &__meta{
        display: flex;
        margin-bottom: 100px;
        flex-wrap: wrap;
        @media (max-width: 600px) {
            margin-bottom: 50px;
        }
    }
    &__part{
        margin-right: 60px;
        width: calc(50% - 30px);
        @media (max-width: 900px) {
            width: 100%;
            margin-right: 0px;
        }
        &:first-of-type{
            padding: 30px 0;
            @media (max-width: 900px) {
                padding: 0px;
            }
        }
        &:last-of-type{
            margin-right: 0px;
            @media (max-width: 900px) {
                margin-bottom: 50px;
                order: -1;
            }
        }
        img{
            max-width: calc(50vw - 60px);
            @media (max-width: 900px) {
                max-width: 100%;
            }
        }
    }
    &__title{
        font-size: 110px;
        font-weight: 900;
        line-height: 100px;
        letter-spacing: -1px;
        margin-bottom: 22px;
        @media (max-width: 1400px) {
            font-size: 60px;
            line-height: 1.2;
        }
        @media (max-width: 600px) {
            font-size: 40px;
        }
    }
    &__description{
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 50px;
        @media (max-width: 600px) {
            font-size: 20px;
            line-height: 1.2;
        }
    }
}

.meta-item{
    display: flex;
    align-items: center;
    padding-right: 40px;
    margin-right: 40px;
    line-height: 1;
    position: relative;
    margin-bottom: 5px;
    @media (max-width: 600px) {
        padding-right: 0px;
        margin-right: 0px;
        margin-bottom: 8px;
        width: 100%;
    }
    &:before{
        font-size: 22px;
        color: rgba(#000, 0.6);
        list-style: 1;
        margin-right: 12px;
        position: relative;
        top: -4px;
    }
    &:after{
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(#000, 0.2);
        width: 1px;
        height: 20px;
        right: 0;
        @media (max-width: 600px) {
            display: none;
        }
    }
    &:last-of-type{
        &:after{
            display: none;
        }
    }
}

.new-nav{
    display: flex;
    transition: all 0.25s;
    li{
        margin-right: 60px;
        @media (max-width: 1600px) {
            margin-right: 20px;
        }
        @media (max-width: 1200px) {
            margin-right: 6px;
        }
        &:last-of-type{
            margin-right: 0px;
        }
    }
    a{
        font-size: 20px;
        font-weight: 500;
        color: #202020;
        padding: 15px 10px;
        position: relative;
        display: block;
        transition: all 0.25s;
        &:before{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 7px;
            background: var(--color);
            transition: width 0.25s;
            width: 0px;
        }
        &:hover{
            &:before{
                width: 100%;
            }
        }
    }
}

.header-single{
    padding: 0 15px;
    .main-header__logo{
        left: 15px;
        transform: translate(-80px, -50%) scale(.75);
        opacity: 0;
        transition: transform 0.25s;
    }
    &.active{
        box-shadow: 0px 2px 6px 0 rgba(#000, 0.2);
        .new-nav{
            padding-left: 80px;
            a{
                font-size: 18px;
            }
        }
        .main-header__logo{
            opacity: 1;
            transform: translate(0px, -50%) scale(.75);
            transition-delay: 0.15s;
        }
        .btn-default{
            background: rgba(#fff, 0.4);
            .btn-default__inner{
                padding: 12px 50px;
            }
        }
    }
    @media (max-width: 1100px) {
        padding: 10px;
        padding-left: 100px;
        justify-content: flex-end;
        .new-nav{
            display: none;
        }
        .btn-default{
            .btn-default__inner{
                padding: 10px 26px !important;
            }
        }
        .btn-mobile-menu{
            display: flex;
        }
        .main-header__logo{
            opacity: 1;
            transform: translate(0px, -50%) scale(.75);
        }
    }
    @media (max-width: 340px) {
        .btn-default{
            .btn-default__inner{
                padding: 10px 20px !important;
            }
        }
    }
}

.single-about{
    margin-bottom: 160px;
    @media (max-width: 900px) {
        margin-bottom: 80px;
    }
    &__inner{
        display: flex;
        align-items: center;
        @media (max-width: 1023px) {
            flex-wrap: wrap;
        }
    }
    &__part{
        &:nth-of-type(1){
            width: calc(48% - 50px);
            margin-right: 100px;
            @media (max-width: 1023px) {
                width: 100%;
                margin-bottom: 60px;
                margin-right: 0px;
            }
        }
        &:nth-of-type(2){
            width: calc(52% - 50px);
            @media (max-width: 1023px) {
                width: 100%;
            }
        }
        h4{
            font-size: 48px;
            line-height: 1;
            margin-bottom: 55px;
            letter-spacing: -1px;
            font-weight: 600;
            @media (max-width: 1400px) {
                font-size: 32px;
                margin-bottom: 30px;
            }
            @media (max-width: 600px) {
                font-size: 26px;
            }
        }
        p{
            font-size: 24px;
            line-height: 30px;
            margin-top: 0;
            margin-bottom: 20px;
            @media (max-width: 1400px) {
                font-size: 20px;
                line-height: 1.4;
            }
        }
    }
    &__img{
        height: 600px;
        position: relative;
        width: 1060px;
        max-width: calc(100vw/2 - 100px);
        float: right;
        @media (max-width: 1900px) {
            height: 400px;
        }
        @media (max-width: 1023px) {
            width: 100%;
            max-width: 100%;
        }
        @media (max-width: 600px) {
            height: 300px;
        }
        @media (max-width: 420px) {
            height: 240px;
        }
    }
    .nambers-block{
        padding-top: 80px;
        margin-bottom: 0;
        @media (max-width: 1400px) {
            padding-top: 20px;
        }
    }
    .nambers-block__item{
        text-align: left;
        margin-right: 100px;
        margin-bottom: 0;
        @media (max-width: 1400px) {
            margin-right: 0px;
        }
    }
    .nambers-block__namber{
        @media (max-width: 1400px) {
            font-size: 40px;
        }
        @media (max-width: 600px) {
            font-size: 30px;
        }
    }
}

.play-btn{
    background: var(--color);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    align-items: center;
    justify-content: center;
    transition: all 0.25s;
    @media (max-width: 1023px) {
        right: 50%;
        width: 100px;
        height: 100px;
    }
    &:before{
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 110px;
        height: 110px;
        border-radius: 50%;
        background: rgba(#fff, 0.3);
        transition: all 0.25s;
        @media (max-width: 1023px) {
            width: 80px;
            height: 80px;
        }
    }
    &:after{
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background: rgba(#fff, 0.3);
        transition: all 0.25s;
        @media (max-width: 1023px) {
            width: 50px;
            height: 50px;
        }
    }
    .icon-play{
        position: relative;
        z-index: 3;
        &:before{
            font-size:  22px;
            color: #fff;
            @media (max-width: 1023px) {
                font-size:  18px;
            }
        }
    }
    &:hover{
        box-shadow: 0px 2px 6px 2px rgba(#000, 0.2);
        &:before{
            width: 120px;
            height: 120px;
        }
        &:after{
            width: 90px;
            height: 90px;
        }
    }
}