{% set 
  header = {
    socials: [
      {
        link: 'https://t.me/radio_kottans',
        icon: 'tg'
      },
      {
        link: 'https://github.com/kottans',
        icon: 'gh'
      },
      {
        link: 'https://www.youtube.com/channel/UCAiEMvHpDa7UACh_2tXw5YA',
        icon: 'yt'
      },
      {
        link: 'https://twitter.com/kottans_org',
        icon: 'tw'
      },
      {
        link: 'https://www.instagram.com/kottans_org',
        icon: 'ig'
      },
      {
        link: 'mailto:kottans.org@gmail.com',
        icon: 'ml'
      }
    ],
    nav: [
      {
        name: 'Hello, World!',
        href: '#hero'
      },
      {
        name: 'About Kottans',
        href: '#about'
      },
      {
        name: 'Courses',
        href: '#courses'
      },
      {
        name: 'F.A.Q.',
        href: '#faq'
      },
      {
        name: 'Create your own event',
        href: '#platform'
      },
      {
        name: 'Kottans core',
        href: '#core'
      },
      {
        name: 'Reviews from graduates',
        href: '#reviews'
      },
      {
        name: 'Our friends & partners',
        href: '#partners'
      },
      {
        name: 'Patreon',
        href: '#patreon'
      }
    ]
  }  
%}

<header class="main-header">
  <div class="main-header__logo">
    <span class="eye eye--left"></span>
    <span class="eye eye--right"></span>
    <svg width="69px" height="58px" viewBox="0 0 69 58" version="1.1" xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="main_page_v0.5" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.900000036">
        <g transform="translate(-766.000000, -24.000000)" id="header">
          <g transform="translate(114.000000, 25.000000)">
            <g id="logo-border" transform="translate(652.000000, 0.000000)">
              <g id="etage#3" transform="translate(6.616438, 38.290598)">
                <g id="Group-3" stroke="#1A1A1A" stroke-linejoin="round" stroke-width="2">
                  <path
                    d="M15.5958904,17.7094017 C17.4863014,14.9546033 18.4315068,12.0924777 18.4315068,9.12302512 C18.4315068,6.15357251 17.4863014,3.11256414 15.5958904,0"
                    id="Path-5"></path>
                  <path d="M6.61643836,5.74358974 L8.03424658,0" id="Path-6"></path>
                  <path d="M10.3972603,5.74358974 L11.8150685,0" id="Path-6"></path>
                  <path
                    d="M0,17.7094017 C1.89041096,14.9546033 2.83561644,12.0924777 2.83561644,9.12302512 C2.83561644,6.15357251 1.89041096,3.11256414 0,0"
                    id="Path-5" transform="translate(1.417808, 8.854701) scale(-1, 1) translate(-1.417808, -8.854701) ">
                  </path>
                </g>
                <g id="Group-3" transform="translate(37.335616, 0.000000)" stroke="#1A1A1A" stroke-linejoin="round"
                  stroke-width="2">
                  <path
                    d="M15.5958904,17.7094017 C17.4863014,14.9546033 18.4315068,12.0924777 18.4315068,9.12302512 C18.4315068,6.15357251 17.4863014,3.11256414 15.5958904,0"
                    id="Path-5"></path>
                  <path d="M6.61643836,5.74358974 L8.03424658,0" id="Path-6"></path>
                  <path d="M10.3972603,5.74358974 L11.8150685,0" id="Path-6"></path>
                  <path
                    d="M0,17.7094017 C1.89041096,14.9546033 2.83561644,12.0924777 2.83561644,9.12302512 C2.83561644,6.15357251 1.89041096,3.11256414 0,0"
                    id="Path-5" transform="translate(1.417808, 8.854701) scale(-1, 1) translate(-1.417808, -8.854701) ">
                  </path>
                </g>
                <rect id="Rectangle" fill="#1A1A1A" x="20.3219178" y="16.7521368" width="15.1232877"
                  height="1.95726496"></rect>
              </g>
              <g id="etage#2" transform="translate(0.000000, 15.794872)">
                <path class="right-line" d="M58.130137,11.4871795 L69,11.4871795" id="Path-4" stroke="#1A1A1A"
                  stroke-width="2" stroke-linejoin="round"></path>
                <path class="right-line" d="M58.130137,7.65811966 L69,7.65811966" id="Path-4" stroke="#1A1A1A"
                  stroke-width="2" stroke-linejoin="round"></path>
                <path class="left-line" d="M0,11.4871795 L10.869863,11.4871795" id="Path-4" stroke="#1A1A1A"
                  stroke-width="2" stroke-linejoin="round"></path>
                <path class="left-line" d="M0,7.65811966 L10.869863,7.65811966" id="Path-4" stroke="#1A1A1A"
                  stroke-width="2" stroke-linejoin="round"></path>
                <path
                  d="M50.5684932,17.7094017 C52.4589041,14.9546033 53.4041096,12.0924777 53.4041096,9.12302512 C53.4041096,6.15357251 52.4589041,3.11256414 50.5684932,0"
                  id="Path-5" stroke="#1A1A1A" stroke-width="2" stroke-linejoin="round"></path>
                <path
                  d="M14.6506849,17.7094017 C16.5410959,14.9546033 17.4863014,12.0924777 17.4863014,9.12302512 C17.4863014,6.15357251 16.5410959,3.11256414 14.6506849,0"
                  id="Path-5" stroke="#1A1A1A" stroke-width="2" stroke-linejoin="round"
                  transform="translate(16.068493, 8.854701) scale(-1, 1) translate(-16.068493, -8.854701) "></path>
                <!-- <polyline id="Path-6" stroke="#1A1A1A" stroke-width="2" stroke-linejoin="bevel" points="38.2808219 11.965812 42.0616438 3.35042735 45.8424658 11.965812"></polyline>
                                <polyline id="Path-6" stroke="#1A1A1A" stroke-width="2" stroke-linejoin="bevel" points="22.2123288 11.965812 25.9931507 3.35042735 29.7739726 11.965812"></polyline> -->
                <circle id="Oval" fill="#1A1A1A" cx="34.5" cy="15.7051282" r="1.5"></circle>
              </g>
              <g id="etage#1" transform="translate(19.849315, 0.000000)">
                <polyline id="Path-6" stroke="#1A1A1A" stroke-width="2" stroke-linejoin="bevel"
                  points="5.04296947e-14 11.008547 5.19863014 0 10.3972603 11.008547"></polyline>
                <polyline id="Path-6" stroke="#1A1A1A" stroke-width="2" stroke-linejoin="bevel"
                  points="18.9041096 11.008547 24.1027397 0 29.3013699 11.008547"></polyline>
                <rect id="Rectangle" fill="#1A1A1A" x="10.1506849" y="10" width="9" height="2"></rect>
              </g>
            </g>
          </g>
        </g>
      </g>
    </svg>
  </div>
  <div class="main-header__inner header_js">
    <a href="mailto:kottans.org@gmail.com" class="btn-default">
      <span class="btn-default__inner">
        Contact us
      </span>
    </a>
    <div class="socials">
      {% for item in header.socials %}
      <a href="{{item.link}}" class="icon-{{item.icon}}" target="_blanc"></a>
      {% endfor %}
    </div>
    <button class="btn-mobile-menu mobile_menu_js">
      <span></span>
    </button>
  </div>
</header>

<nav class="main-nav main_nav_js scroll_nav_js main_nav_click_js">
  <ul>
    {% for item in header.nav %}
    <li><a href="{{item.href}}" class="icon-arrow {% if loop.index == 1 %}active{% endif %}"
        data-target="{{ loop.index }}">{{item.name}}</a></li>
    {% endfor %}
  </ul>
</nav>

<div class="mob-menu main_nav_js main_nav_click_js">
  <div class="mob-menu__inner">
    <ul>
      {% for item in header.nav %}
      <li><a href="{{item.href}}" class="icon-arrow {% if loop.index == 1  %}active{% endif %}"
          data-target="{{ loop.index }}">{{item.name}}</a></li>
      {% endfor %}
    </ul>
    <div class="socials">
      {% for item in header.socials %}
      <a href="{{item.link}}" class="icon-{{item.icon}}" target="_blanc"></a>
      {% endfor %}
    </div>
  </div>
</div>