{%set
  section = {
    title: "Kottans<br /> core",
    ourTeamDesc: [
      {
        p: "Anyone who finished courses and participates in our day-to-day activities is considered a <a href='#'>Kottan</a>."
      },
      {
        p: "Because of our volunteer nature, we are pretty flexible and the number of people changes constantly - some can come, others - go."
      },
      {
        p: "Also, we have a Core team, which consists of most active community members. To become one of Core, one must take responsibility, generate ideas and be an active part of our community"
      }
    ],
    team: [
      {
        name: 'Ivan Tytarenko',
        position: 'Front-end developer',
        img: 'ivan.jpeg',
        github: 'https://github.com/zonzujiro',
        twitter: 'https://twitter.com/zonzuJIro',
        linkedin: 'https://www.linkedin.com/in/ititarenko/'
      },
      {
        name: 'Artem Sychov',
        position: 'Technical manager',
        img: 'artem.jpg',
        github: 'https://github.com/suchov',
        twitter: 'https://twitter.com/ArtemSuchov',
        linkedin: 'https://www.linkedin.com/in/suchov/'
      },
      {
        name: 'Khrystyna Landvytovych',
        position: 'Front-end developer',
        img: 'chrystyna.jpeg',
        github: 'https://github.com/Croftyland',
        twitter: 'https://twitter.com/croftyland',
        linkedin: 'https://www.linkedin.com/in/khrystyna-landvytovych-a86243132/'
      },
      {
        name: 'Anastasiya Mashoshyna',
        position: 'Front-end developer',
        img: 'nastia.jpg',
        github: 'https://github.com/AMashoshyna',
        twitter: 'https://twitter.com/a_mashoshyna',
        linkedin: 'https://www.linkedin.com/in/anastasiya-mashoshyna-33711682/'
      },
      {
        name: 'Oleksiy Rudenko',
        position: 'Delivery Manager',
        img: 'oleksiy.jpg',
        github: 'https://github.com/OleksiyRudenko',
        linkedin: 'https://www.linkedin.com/in/oleksiyrudenko'
      }
    ],
    mentorsDescription: [
      {
        p: "Guest mentors are participants who come to us to read lectures, conduct a workshop or other learning activities."
      },
      {
        p: "New guest mentors are always welcome! Don't be discouraged if you
        consider yourself a beginner. Usually, we try to match mentor's
        level and audience's level."
      },
      {
        p: "So even as a beginner, you already know more, than trainees or
        students, who know nothing at all."
      },
      {
        p: "Also, you are closer to problems of newbies, because you haven't
        forgotten what it was like to figure them out 😉"
      }
    ],

    years: [
      {
        year: '2018-2019',
        mentor: [
          {
            name: 'Yevhen Orlov',
            language: 'JavaScript',
            img: 'yevhenorlov.jpg',
            github: 'https://github.com/yevhenorlov',
            twitter: 'https://twitter.com/yevhenorlov'
          },
          {
            name: 'Svyatoslav Shmatko',
            language: 'JavaScript',
            img: 'svyatoslav.jpeg',
            github: 'https://github.com/sdoomz'
          },
          {
            name: 'Alexandr Kochetov',
            language: 'JavaScript',
            img: 'kochetov.jpg',
            github: 'https://github.com/alexk0ch'
          },
          {
            name: 'Roman Liutikov',
            language: 'JavaScript, Clojure',
            img: 'roman_liutikov.jpg',
            github: 'https://github.com/roman01la',
            twitter: 'https://twitter.com/roman01la'
          },
          {
            name: 'Igor Kurkov',
            language: 'JavaScript',
            img: 'igor.jpeg',
            github: 'https://github.com/IgorKurkov',
            twitter: 'https://twitter.com/igor_kurkov'
          },
          {
            name: 'Alexandr Ostrovny',
            language: 'HTML, CSS',
            img: 'alexander.jpeg',
            github: 'https://github.com/A-Ostrovnyy',
            twitter: 'https://twitter.com/Alex_Ostrovny'
          }
        ]
      },
      {
        year: '2017-2018',
        mentor: [
        {
          img: 'john.jpg',
          name: 'Oleksandr Lapshyn',
          github: 'sudodoki',
          twitter: 'sudodoki',
          language: 'JavaScript'
        },
        {
          img: 'aleksey-shvayka.jpg',
          name: 'Aleksey Shvayka',
          github: 'shvaikalesh',
          language: 'JavaScript'
        },
        {
          img: 'listochkin.jpg',
          name: 'Andrey Listochkin',
          github: 'listochkin',
          twitter: 'listochkin',
          language: 'JavaScript'
        },
        {
          img: 'antonNemtsev.jpg',
          name: 'Anton Nemtsev',
          github: 'SilentImp',
          twitter: 'SilentImp',
          language: 'js, html, css'
        },
        {
          img: 'artem.jpeg',
          name: 'Artem Denysov',
          github: 'denar90_',
          twitter: 'denar90',
          language: 'JavaScript'
        },
        {
          img: 'yavorskyi.jpeg',
          name: 'Artem Yavorsky',
          github: 'yavorsky',
          twitter: 'yavorsky_',
          language: 'JavaScript'
        },
        {
          img: 'roman.jpeg',
          name: 'Roman Liutikov',
          github: 'roman01la',
          twitter: 'roman01la',
          language: 'JavaScript'
        },
        {
          img: 'tkachenko.jpeg',
          name: 'Yuri Tkachenko',
          github: 'tyv',
          twitter: 'yuritkachenko',
          language: 'JavaScript'
        },
        {
          img: 'akulov.jpeg',
          name: 'Ivan Akulov',
          github: 'iamakulov',
          twitter: 'iamakulov',
          language: 'JavaScript'
        },
        {
          img: 'kate.jpg',
          name: 'Kateryna Porshnieva',
          github: 'krambertech',
          twitter: 'krambertech',
          language: 'JavaScript'
        },
        {
          img: 'stas.jpeg',
          name: 'Stas Gavrylov',
          github: 'stasgavrylov',
          twitter: 'stasgavrylov',
          language: 'JavaScript'
        },
        {
          img: 'vodymyr.jpeg',
          name: 'Volodymyr Stelmakh',
          github: 'stelmakh',
          twitter: 'vstelmakh',
          language: 'JavaScript'
        },
        {
          img: 'lempiy.jpeg',
          name: 'Anton Lempiy',
          github: 'lempiy',
          language: 'JavaScript'
        },
        {
          img: 'viktor.jpeg',
          name: 'Viktor Yakubiv',
          github: 'viktor-yakubiv',
          language: 'JavaScript'
        }
        ]
      },
      {
        year: '2016-2017',
        mentor: [
        {
          img: 'ihor.jpeg',
          name: 'Igor Kroosh',
          github: 'tilast',
          twitter: 'ikroosh',
          language: 'ruby'
        },
        {
          img: 'lena.jpg',
          name: 'Elena Morgun',
          github: 'darthrevan',
          twitter: 'rubykatze',
          language: 'ruby'
        },
        {
          img: 'den_2.jpg',
          name: 'Denis Sergienko',
          github: 'zxftr45',
          twitter: 'zxftr45',
          language: 'ruby'
        },
        {
          img: 'lulya.jpg',
          name: 'Julia Savinkova',
          github: 'programulya',
          twitter: 'programulya',
          language: 'JavaScript'
        }
        ]
      },
      {
        year: '2015-2016',
        mentor: [
        {
          img: 'misha.jpg',
          name: 'Mikhail Bortnyk',
          github: 'vessi',
          twitter: 'mikhailbortnyk',
          language: 'erlang'
        },
        {
          img: 'lulya.jpg',
          name: 'Julia Savinkova',
          github: 'programulya',
          twitter: 'programulya',
          language: 'C#, js'
        },
        {
          img: 'den_2.jpg',
          name: 'Denis Sergienko',
          github: 'zxftr45',
          twitter: 'zxftr45',
          language: 'ruby'
        },
        {
          img: 'valentine.jpeg',
          name: 'Valentine Radchuk',
          github: 'zaknafeyn',
          twitter: 'zzaknafeyn',
          language: 'C#'
        },
        {
          img: 'aleksey.jpeg',
          name: 'Alexey Aza',
          github: 'jalaz',
          twitter: 'jalazVS',
          language: 'C#'
        },
        {
          img: 'dmytro.jpeg',
          name: 'Dmytro Hnatiuk',
          github: 'hnatiukdm',
          twitter: 'dhnatiuk',
          language: 'C#'
        },
        {
          img: 'denys.jpg',
          name: 'Dan Kashkovsky',
          github: '',
          twitter: 'danniekash',
          language: 'C#'
        },
        {
          img: 'timur.jpg',
          name: 'Timur Mudzhyri',
          github: 'intrueder',
          twitter: 'intrueder',
          language: 'C#'
        },
        {
          img: 'vovk.png',
          name: 'Roman Vovk',
          github: 'kakarotto67',
          twitter: 'roman_vovk1',
          language: 'C#'
        },
        {
          img: 'aleksey-shvayka.jpg',
          name: 'Aleksey Shvayka',
          github: 'shvaikalesh',
          language: 'JavaScript'
        },
        {
          img: 'nikolay.jpeg',
          name: 'Nikolay Kozhukharenko',
          github: 'mkozhukharenko',
          language: 'JavaScript'
        },
        {
          img: 'stets.jpeg',
          name: 'Ivan Stetsenko',
          github: 'firec0der',
          language: 'JavaScript'
        },
        {
          img: 'john.jpg',
          name: 'Oleksandr Lapshyn',
          github: 'sudodoki',
          twitter: 'sudodoki',
          language: 'JavaScript'
        },
        {
          img: 'illya.jpg',
          name: 'Illia Seheda',
          github: 'ALF-er',
          twitter: 'alf_er',
          language: 'JavaScript'
        },
        {
          img: 'artem_2.jpeg',
          name: 'Artem Bey',
          github: 'defly',
          language: 'JavaScript'
        },
        {
          img: 'listochkin.jpg',
          name: 'Andrey Listochkin',
          github: 'listochkin',
          twitter: 'listochkin',
          language: 'JavaScript'
        },
        {
          img: 'taras.jpeg',
          name: 'Taras Hupalo',
          github: 'cwayfinder',
          language: 'JavaScript'
        },
        {
          img: 'illya.jpeg',
          name: 'Illya Klymov',
          github: 'xanf',
          language: 'JavaScript'
        },
        {
          img: 'lavrin.jpeg',
          name: 'Ivan Lavriv',
          github: 'lavriv92',
          twitter: 'ilavriv',
          language: 'JavaScript'
        },
        {
          img: 'sergiy.jpeg',
          name: 'Serg Bataev',
          twitter: 'servika',
          language: 'JavaScript'
        },
        {
          img: 'stoyanov.jpg',
          name: 'Denis Stoyanov',
          github: 'xgrommx',
          twitter: 'xgrommx',
          language: 'JavaScript'
        },
        {
          img: 'bohdan.jpg',
          name: 'Bohdan Varshchuk',
          github: 'g3d',
          twitter: 'g3d',
          language: 'JavaScript'
        },
        {
          img: 'med.jpeg',
          name: 'Denys Medynskyi',
          language: 'ruby'
        },
        {
          img: 'volodya.png',
          name: 'Volodya Sveredyuk',
          github: 'sveredyuk',
          twitter: 'sveredyuk',
          language: 'ruby'
        },
        {
          img: 'placeholder.jpg',
          name: 'Yuriy Kushnir',
          github: 'kushniryb',
          language: 'ruby'
        }
        ]
      },
      {
        year: '2014-2015',
        mentor: [
        {
          img: 'eugene.jpg',
          name: 'Eugene Safronov',
          github: 'sejoker',
          twitter: 'sejoker',
          language: 'JavaScript'
        },
        {
          img: 'andrii.jpg',
          name: 'Andrey Savchenko',
          github: 'ptico',
          twitter: 'ptico',
          language: 'ruby'
        },
        {
          img: 'serg.jpg',
          name: 'Sergey Gopkalo',
          language: 'ruby'
        },
        {
          img: 'lena.jpg',
          name: 'Elena Morgun',
          github: 'darthrevan',
          twitter: 'rubykatze',
          language: 'ruby'
        },
        {
          img: 'misha.jpg',
          name: 'Mikhail Bortnyk',
          github: 'vessi',
          twitter: 'mikhailbortnyk',
          language: 'ruby, js'
        },
        {
          img: 'john.jpg',
          name: 'Oleksandr Lapshyn',
          github: 'sudodoki',
          twitter: 'sudodoki',
          language: 'JavaScript'
        },
        {
          img: 'julia.jpg',
          name: 'Julia Budnik',
          github: 'mayosh',
          twitter: 'Jubudni',
          language: 'ruby, js'
        },
        {
          img: 'den_2.jpg',
          name: 'Denis Sergienko',
          github: 'zxftr45',
          twitter: 'zxftr45',
          language: 'ruby, js'
        },
        {
          img: 'ihor.jpeg',
          name: 'Igor Kroosh',
          github: 'tilast',
          twitter: 'ikroosh',
          language: 'ruby'
        },
        {
          img: 'ingvar.jpeg',
          name: 'Ingvar Stepanyan',
          github: 'RReverser',
          twitter: 'RReverser',
          language: 'JavaScript'
        },
        {
          img: 'max.jpeg',
          name: 'Max Klymyshyn',
          github: 'joymax',
          twitter: 'maxmaxmaxmax',
          language: 'JavaScript'
        },
        {
          img: 'vsych.jpeg',
          name: 'Victor Sych',
          github: 'vsych',
          twitter: 'VictorSych',
          language: 'JavaScript'
        },
        {
          img: 'zuzusik.jpg',
          name: 'Viktor Zozuliak',
          github: 'zuzusik',
          language: 'JavaScript'
        },
        {
          img: 'listochkin.jpg',
          name: 'Andrey Listochkin',
          github: 'listochkin',
          twitter: 'listochkin',
          language: 'JavaScript'
        }
        ]
      },
      {
        year: '2013-2014',
        mentor: [
        {
          img: 'serg.jpg',
          name: 'Sergey Gopkalo',
          language: 'ruby'
        },
        {
          img: 'den.jpg',
          name: 'Denis Yagofarov',
          github: 'denyago',
          twitter: 'denyago',
          language: 'ruby'
        },
        {
          img: 'lena.jpg',
          name: 'Elena Morgun',
          github: 'darthrevan',
          twitter: 'rubykatze',
          language: 'ruby'
        },
        {
          img: 'misha.jpg',
          name: 'Mikhail Bortnyk',
          github: 'vessi',
          twitter: 'mikhailbortnyk',
          language: 'ruby, js'
        },
        {
          img: 'john.jpg',
          name: 'Oleksandr Lapshyn',
          github: 'sudodoki',
          twitter: 'sudodoki',
          language: 'JavaScript'
        },
        {
          img: 'rozumii.jpeg',
          name: 'Oleksandr Rozumii',
          github: 'brain-geek',
          twitter: 'brain-geek',
          language: 'ruby'
        },
        {
          img: 'julia.jpg',
          name: 'Julia Budnik',
          github: 'mayosh',
          twitter: 'Jubudni',
          language: 'ruby, js'
        },
        {
          img: 'lulya.jpg',
          name: 'Julia Savinkova',
          github: 'programulya',
          twitter: 'programulya',
          language: 'JavaScript'
        },
        {
          img: 'bel.jpeg',
          name: 'Alexander Beletsky',
          github: 'alexbeletsky',
          twitter: 'alexbeletsky',
          language: 'JavaScript'
        },
        {
          img: 'eldar.png',
          name: 'Eldar Djafarov',
          github: 'edjafarov',
          twitter: 'edjafarov',
          language: 'JavaScript'
        },
        {
          img: 'listochkin.jpg',
          name: 'Andrey Listochkin',
          github: 'listochkin',
          twitter: 'listochkin',
          language: 'JavaScript'
        },
        {
          img: 'artyom.jpeg',
          name: 'Artem Trytiak',
          github: 'ArtyomTrityak',
          twitter: 'ArtyomTrityak',
          language: 'JavaScript'
        },
        {
          img: 'valen.jpeg',
          name: 'Valentyn Shybanov',
          github: 'olostan',
          twitter: 'olostan',
          language: 'JavaScript'
        },
        {
          img: 'yarmak.png',
          name: 'Dmytro Yarmak',
          github: 'dmytroyarmak',
          twitter: 'dmytroyarmak',
          language: 'JavaScript'
        },
        {
          img: 'placeholder.jpg',
          name: 'Eugene Koshevoy',
          language: 'JavaScript'
        },
        {
          img: 'dmitry.jpg',
          name: 'Dmitry Tselinko',
          github: 'dmitryt',
          language: 'JavaScript'
        },
        {
          img: 'flip.png',
          name: 'Dmitriy Filipenko',
          github: 'dmfilipenko',
          twitter: 'dmfilipenko',
          language: 'JavaScript'
        }
        ]
      },
      {
        year: '2012-2013',
        mentor: [
        {
          img: 'den.jpg',
          name: 'Denis Yagofarov',
          github: 'denyago',
          twitter: 'denyago',
          language: 'ruby'
        },
        {
          img: 'misha.jpg',
          name: 'Mikhail Bortnyk',
          github: 'vessi',
          twitter: 'mikhailbortnyk',
          language: 'ruby, js'
        }
        ]
      },
      {
        year: '2011-2012',
        mentor: [
        {
          img: 'misha.jpg',
          name: 'Mikhail Bortnyk',
          github: 'vessi',
          twitter: 'mikhailbortnyk',
          language: 'ruby, js'
        },
        {
          img: 'alex.jpg',
          name: 'Alexandr Shilo',
          language: 'ruby'
        }
        ]

      }
    ]
  }
%}

<section id="6" class="def-section target our-team-slider">
  <div class="wrap">
    <div class="def-section__inner">
      <div class="def-section__title def-section__title-small no-top-padding ab ab--b ab--right">
        <h3>
          {{section.title | safe}}
        </h3>
      </div>
      <div class="def-section__content">
        <div class="text-aside">
          <div class="text-aside__inner content-rules">
            {% for item in section.ourTeamDesc %}
            <p>{{item.p | safe}}</p>
            {% endfor %}
          </div>
          <div class="text-aside__title ab ab--b ab--rught">
            Our team
          </div>
        </div>

        <div class="our-team-wrap">
          <div class="our-team our_team_slider_js">
            {% for item in section.team %}
            <div class="our-team__item">
              <div class="our-team__img bg bg__js" data-img="assets/img/images/core/{{item.img}}"></div>
              <div class="our-team__name">
                {{item.name}}
              </div>
              <div class="our-team__position">
                {{item.position}}
              </div>
              <div class="socials">
                {% if item.github %}
                <a href="{{item.github}}" class="icon-gh" target="_blank"></a>
                {% endif %}
                {% if item.twitter %}
                <a href="{{item.twitter}}" class="icon-tw" target="_blank"></a>
                {% endif %}
                {% if item.linkedin %}
                <a href="{{item.linkedin}}" class="icon-in" target="_blank"></a>
                {% endif %}
              </div>
            </div>
            {% endfor %}
          </div>

          <div class="dots-block"></div>
        </div>

        <div class="join-us-block">
          <h5 class="join-us-block__title">
            If you feel the strength to share knowledge with others, come join us
          </h5>
          <div class="join-us-block__btn">
            <a href="mailto:kottans.org@gmail.com" target="_blank" class="btn-default btn-default--big">
              <span class="btn-default__inner">
                Join Kottans
              </span>
            </a>
          </div>
        </div>

        <div class="text-aside">
          <div class="text-aside__inner content-rules">
            {% for item in section.mentorsDescription %}
            <p>{{item.p | safe}}</p>
            {% endfor %}
          </div>
          <div class="text-aside__title ab ab--b ab--right">
            Guest mentors
          </div>
        </div>

        <div class="mentors-block">
          <div class="mentors-block__tabs tabs_js">
            {% for item in section.years %}
            <button class="mentors-block__tab {% if loop.index == 1  %}active{% endif %}">
              <div class="mentors-block__tab-inner">
                {{item.year}}
              </div>
            </button>
            {% endfor %}
          </div>

          <div class="mentors-block__inner">
            {% for item in section.years %}
            <div class="mentors-block__slider {% if loop.index == 1  %}active{% endif %}">
              <div class="mentors_slider_js">
                {% for i in item.mentor %}
                <div class="mentors-block__item">
                  <div class="mentors-block__item-img bg bg__js" data-img="assets/img/images/mentors/{{i.img}}"></div>
                  <div class="mentors-block__item-name">
                    {{i.name}}
                  </div>
                  <div class="mentors-block__item-language-title">
                    Language
                  </div>
                  <div class="mentors-block__item-language">
                    {{i.language}}
                  </div>
                  <div class="socials">
                    {% if i.github%}
                    <a href="{{i.github}}" class="icon-gh" target="_blank"></a>
                    {% endif %}
                    {% if i.twitter%}
                    <a href="{{i.twitter}}" class="icon-tw" target="_blank"></a>
                    {% endif %}
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>

        <div class="subscribe-block">
          <div class="subscribe-block__title">
            Channel in Telegram with useful links and news from IT world from our community
          </div>
          <div class="subscribe-block__img">
            <a href="https://t.me/radio_kottans" target="_blank" class="btn-default btn-default--big">
              <span class="btn-default__inner">
                <span class="icon-tg"></span>
                we are in telegram
              </span>
            </a>
            <svg width="620px" height="564px" viewBox="0 0 620 564" version="1.1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="main_page_v0.6" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(-710.000000, -13720.000000)" id="subscribe-RK">
                  <g transform="translate(710.000000, 13720.000000)">
                    <g>
                      <rect id="Rectangle" fill="#FFD047" x="320" y="0" width="300" height="460"></rect>
                      <g id="Group-13" transform="translate(0.000000, 30.000000)">
                        <rect id="Rectangle-Copy-12" fill="#FFFFFF" x="0" y="0" width="400" height="140"></rect>
                        <text id="Subscribe-to-Л_Л-Rad" font-family="AvenirNext-DemiBold, Avenir Next" font-size="30"
                          font-weight="500" line-spacing="40" fill="#202020">
                          <tspan x="112.99" y="59">Subscribe to</tspan>
                          <tspan x="70" y="99">Л_Л Radio Kottans</tspan>
                        </text>
                      </g>
                    </g>
                    <g id="•••" transform="translate(223.000000, 216.000000)">
                      <g id="icon/20x20/-bullet">
                        <g id="icon/20x20/-down" stroke-width="1" fill-rule="evenodd"></g>
                        <circle id="Oval" fill="#202020" fill-rule="nonzero" cx="10" cy="10" r="3"></circle>
                      </g>
                      <g id="icon/20x20/-bullet" transform="translate(20.000000, 0.000000)">
                        <g id="icon/20x20/-down" stroke-width="1" fill-rule="evenodd"></g>
                        <circle id="Oval" fill="#202020" fill-rule="nonzero" cx="10" cy="10" r="3"></circle>
                      </g>
                      <g id="icon/20x20/-bullet" transform="translate(40.000000, 0.000000)">
                        <g id="icon/20x20/-down" stroke-width="1" fill-rule="evenodd"></g>
                        <circle id="Oval" fill="#202020" fill-rule="nonzero" cx="10" cy="10" r="3"></circle>
                      </g>
                      <g id="icon/20x20/-bullet" transform="translate(0.000000, 20.000000)">
                        <g id="icon/20x20/-down" stroke-width="1" fill-rule="evenodd"></g>
                        <circle id="Oval" fill="#202020" fill-rule="nonzero" cx="10" cy="10" r="3"></circle>
                      </g>
                      <g id="icon/20x20/-bullet" transform="translate(20.000000, 20.000000)">
                        <g id="icon/20x20/-down" stroke-width="1" fill-rule="evenodd"></g>
                        <circle id="Oval" fill="#202020" fill-rule="nonzero" cx="10" cy="10" r="3"></circle>
                      </g>
                      <g id="icon/20x20/-bullet" transform="translate(40.000000, 20.000000)">
                        <g id="icon/20x20/-down" stroke-width="1" fill-rule="evenodd"></g>
                        <circle id="Oval" fill="#202020" fill-rule="nonzero" cx="10" cy="10" r="3"></circle>
                      </g>
                      <g id="icon/20x20/-bullet" transform="translate(0.000000, 40.000000)">
                        <g id="icon/20x20/-down" stroke-width="1" fill-rule="evenodd"></g>
                        <circle id="Oval" fill="#202020" fill-rule="nonzero" cx="10" cy="10" r="3"></circle>
                      </g>
                      <g id="icon/20x20/-bullet" transform="translate(20.000000, 40.000000)">
                        <g id="icon/20x20/-down" stroke-width="1" fill-rule="evenodd"></g>
                        <circle id="Oval" fill="#202020" fill-rule="nonzero" cx="10" cy="10" r="3"></circle>
                      </g>
                      <g id="icon/20x20/-bullet" transform="translate(40.000000, 40.000000)">
                        <g id="icon/20x20/-down" stroke-width="1" fill-rule="evenodd"></g>
                        <circle id="Oval" fill="#202020" fill-rule="nonzero" cx="10" cy="10" r="3"></circle>
                      </g>
                    </g>
                    <g id="illustrated3" transform="translate(317.000000, 170.000000)">
                      <path
                        d="M41.6131861,339.316679 L29.5290977,357.270213 L-2.58408364e-13,349.490764 C1.28023019,345.356465 5.65999632,343.289315 13.1392984,343.289315 C24.3582515,343.289315 21.5258365,344.083098 24.3582515,339.316679 C26.2465282,336.139066 27.9701436,332.632995 29.5290977,328.798464 L41.6131861,339.316679 Z"
                        id="Path-12" stroke="#202020" stroke-width="2" fill="#FFFFFF"></path>
                      <path
                        d="M79.9772593,274.156323 L104.525854,352.34695 L127.623163,345.178245 C122.661182,302.538102 118.055267,276.404598 113.805418,266.777731 C109.555569,257.150864 101.227056,255.226559 88.819879,261.004814 L79.9772593,274.156323 Z"
                        id="Path-13" stroke="#202020" stroke-width="2" fill="#FFD047"></path>
                      <rect id="Rectangle" fill="#202020" x="72" y="238" width="231.000005" height="28"></rect>
                      <path
                        d="M66.1683973,231.64044 C63.3820482,224.786347 62.6854609,218.686952 64.0786355,213.342255 C65.47181,207.997557 73.0898543,206.139502 86.9327684,207.768088"
                        id="Path-15" stroke="#202020" stroke-width="2" fill="#FFD047"></path>
                      <path
                        d="M24.3582515,324.0609 L43.0339214,339.316679 L96.1367285,246.364478 C134.075286,248.371004 162.265313,248.371004 180.706809,246.364478 C208.369053,243.354689 227.338926,239.802853 232.825372,221.435651 C236.483003,209.190849 236.019586,200.125227 231.435121,194.238783 L172.030486,204.141845 L88.8993269,207.633058 C79.9841253,207.031575 72.979709,213.755458 67.8860779,227.804707 C62.7924468,241.853955 50.8662171,268.364864 32.1073886,307.337432 L24.3582515,324.0609 Z"
                        id="Path-8" stroke="#202020" stroke-width="2" fill="#FFD047"></path>
                      <path
                        d="M107.310512,351.455152 L108.875268,366.183572 C108.027095,371.456663 105.87542,375.212486 102.420244,377.451041 C98.9650674,379.689595 97.606786,384.416444 98.3453998,391.631585 L123.160489,375.629695 L121.324281,346.833201 L107.310512,351.455152 Z"
                        id="Path-14" stroke="#202020" stroke-width="2" fill="#FFFFFF"></path>
                      <polyline id="Path-16" fill="#202020"
                        points="85.4726001 207.197562 46.7964605 142.413886 105.712865 142.413886 134.85405 187.200245">
                      </polyline>
                      <polygon id="Path-18" stroke="#202020" stroke-width="2" fill="#FFD047"
                        points="143.845633 63.1374266 152.869873 79.0837217 176.021122 79.0837217 160.648165 61.0225018 150.519102 63.1374266">
                      </polygon>
                      <path
                        d="M231.435121,194.238783 C218.666394,122.660632 198.808221,83.9142652 171.860604,77.9996816 C152.200697,76.5929184 143.018445,83.9536395 142.185963,100.668608 C146.168796,136.778711 160.068029,170.561327 183.883662,202.016456 L231.435121,194.238783 Z"
                        id="Path-10" stroke="#202020" stroke-width="2" fill="#FFFFFF"></path>
                      <path
                        d="M155.014706,79.0837217 C166.858768,80.25818 174.246688,87.9423064 177.178463,102.136101 C180.778368,119.56455 193.11105,169.150937 193.11105,185.838255 C193.11105,190.2872 188.417869,199.918386 183.883662,202.016456 C179.41353,204.084878 163.998605,205.420586 137.638887,206.023579 L85.4726001,207.197562 C89.4703653,200.630281 96.3405417,196.310687 106.083129,194.238783 C120.69701,191.130926 162.472042,182.175633 164.831018,178.793186 C167.189994,175.41074 162.555961,169.850933 151.821721,142.413886 C141.087482,114.976839 139.902353,97.8541475 142.907432,90.252774 C144.910818,85.1851917 148.946576,81.4621742 155.014706,79.0837217 Z"
                        id="Path-11" stroke="#202020" stroke-width="2" fill="#FFFFFF"></path>
                      <path
                        d="M142.185963,29.9023832 C134.499296,38.0103525 130.655962,47.2498897 130.655962,57.6209949"
                        id="Path-19" stroke="#202020" stroke-width="2" fill="#FFD047"></path>
                      <path
                        d="M128.344432,54.3374264 C126.255241,66.1551605 127.825385,73.729246 133.054863,77.0596828 C138.964845,81.5582192 143.622456,68.4066721 149.832523,65.6537841 C156.04259,62.9008961 158.067753,65.6537841 163.99744,61.9353758 C167.950565,59.456437 170.735567,54.5265785 172.352445,47.1458003 C175.269741,38.4313651 174.428001,32.6996918 169.827225,29.9507804 C162.926062,25.8274134 155.338392,22.0548173 145.557139,2.29474863 C141.456507,-6.46581285 122.690209,11.6181908 135.91544,26.8457406 C139.523986,30.9769515 143.272806,32.9137443 149.832523,37.2105954 C151.693607,38.1698968 150.66713,48.6742725 150.66713,51.4361652 C150.219168,54.4756774 140.447863,58.0086634 139.523986,58.0086634 C138.459475,58.0086634 134.732957,56.7849177 128.344432,54.3374264 Z"
                        id="Path-17" fill="#202020"></path>
                      <path d="M101.242172,195.666037 L102.657657,206.023579" id="Path-20" stroke="#202020"
                        stroke-width="2" fill="#FFD047"></path>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
