
<li><img src="public/images/coaches/{{ coach.img_url }}">
	<div class="coach-info">
		{% if coach.is_guest %}
			<div class="guest-wrapper">
			<div class="guest">guest
		{% else %}
			<div class="regular-wrapper">
			<div class="regular">
		{% endif %}
		</div>
		</div>
		<p class="name"> {{ coach.name }}</p>
		
		<div class="hidden">
			<p class="language">language:{{ coach.lang }}</p>
			<p>{{ coach.bio }}</p>
			<p class="coach-social-btn">
				<a href="{{ coach.github }}" target="_blank">
					<img src="public/images/octocat.png">
				</a>
				<a href="{{ coach.twitter }}" target="_blank">
					<img src="public/images/twitterlogo.png">
				</a>
			</p>
			<!-- <p class="bio">{{ coach.bio }}</p> -->
		</div>
		
 
		</div>
</li> 