{% if coach.placeholder %}
<li class='placeholder'>
{% else %}
<li>
{% endif %}
  {% if coach.full_img_url %}
    <div class="img-wrapper imgLiquidFill imgLiquid">
      <img src="{{ coach.full_img_url }}">
    </div>
  {% else %}
    <img src="public/images/coaches/{{ coach.img_url || 'placeholder.jpg' }}">
  {% endif %}

  <div class="coach-info">
    {% if coach.is_guest %}
      <div class="guest-wrapper">
        <div class="guest">guest</div>
      </div>
    {% endif %}
    <p class="name"> {{ coach.name }}</p>
    <div class="hidden">
      {% if coach.lang %}
        <p class="language">language:{{ coach.lang }}</p>
      {% endif %}
      <p class="bio">{{ coach.bio }}</p>
      <p class="coach-social-btn">
        {% if coach.github %}
          <a href="https://github.com/{{ coach.github }}" target="_blank">
            <img src="public/images/octocat.png">
          </a>
        {% endif %}
        {% if coach.twitter %}
          <a href="https://twitter.com/{{ coach.twitter }}" target="_blank">
            <img src="public/images/twitterlogo.png">
          </a>
        {% endif %}
        {% if coach.telegram %}
          <a href="https://telegram.me/{{ coach.telegram }}" target="_blank">
            <img src="public/images/telegram-logo.png" alt="telegram">
          </a>
        {% endif %}
      </p>
    </div>
  </div>
</li> 
