{% if coach.placeholder %}
<li class='placeholder'>
{% else %}
<li>
{% endif %}
	<img src="public/images/coaches/{{ coach.img_url }}">
	<div class="coach-info">
		{% if coach.is_guest %}
			<div class="guest-wrapper">
				<div class="guest">guest</div>
			</div>
		{% endif %}
		<p class="name"> {{ coach.name }}</p>
		<div class="hidden">
			{% if coach.lang %}
				<p class="language">language:{{ coach.lang }}</p>
			{% endif %}
			<p class="bio">{{ coach.bio }}</p>
			<p class="coach-social-btn">
				{% if coach.github %}
					<a href="{{ coach.github }}" target="_blank">
						<img src="public/images/octocat.png">
					</a>
				{% endif %}
				{% if coach.twitter %}
					<a href="{{ coach.twitter }}" target="_blank">
						<img src="public/images/twitterlogo.png">
					</a>
				{% endif %}
			</p>
			<!-- <p class="bio">{{ coach.bio }}</p> -->
		</div>
		
 
		</div>
</li> 