<form accept-charset="UTF-8" action="/participants" id="new_participant" method="post" class="half unit">
    <p>
        <label for="participant_name">Name:</label>
        <input id="participant_name" required name="name" type="text"/>
    </p>
    <p>
        <label for="participant_email">E-mail:</label>
        <input id="participant_email" required name="email" type="email"/>
    </p>
    <p>
        <label for="participant_skype">Skype:</label>
        <input id="participant_skype" name="skype" type="text"/>
    </p>
    <p class="difficult_choices">
        <label>Courses:</label>
        <label><input id="participant_courses" name="courses" type="checkbox" value="js"/> JS</label>
        <label><input id="participant_courses" name="courses" type="checkbox" value="ruby"/> Ruby</label>
        <label><input id="participant_courses" name="courses" type="checkbox" value="java"/> Java</label>
        <label><input id="participant_courses" name="courses" type="checkbox" value="csharp"/> C#</label>
    </p>
    <p>
        <label for="participant_are_terms_accepted" class="agreement">
            <input required title='You must agree with terms and conditions' id="participant_are_terms_accepted" name="are_terms_accepted" type="checkbox" value="1"/>
            I agree with <a href="toc.html">terms and conditions</a>.
        </label>
    </p>    
    <!-- Don't ever forget to change this here & in Zapier -->
    <input type="hidden" name="year" value="2015">
    <p>
        <button name="commit" type="submit" disabled="disabled">
            Register
            <span class="overlay">Please fill out the form</span>
        </button>
    </p>
</form>