* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font: bold 62.5% "Courier New", Courier, monospace;
}

p {
  font-size: 1.6em;
}

section {
  min-height: 650px;
}

.container {
  padding: 180px 15% 80px;
}

.half {
  width: 49%;
}

#intro {
  color: #3b4347;
}

#intro a {
  color: #3b4347;
  text-decoration: none;
  text-transform: uppercase;
}

#intro a:hover {
  text-decoration: underline;
}

#intro .nav-section {
  padding: 20px;
  background: #fff;
  border-top: 1px solid #3b4347;
  letter-spacing: 0.3em;
}

.nav-section h1 {
  float: left;
  width: 18%;
  font-size: 3.1em;
}

.suppl-content {
  float: right;
  width: 15%;
  font-size: 1.6em;
  text-align: right;
}

.suppl-content a {
  display: inline-block;
  padding: 10px 0 0 50px;
  min-height: 35px;
  background: url(../images/octocat.png) no-repeat;
}

#intro .nav-section nav {
  margin: 0 17%;
  padding-top: 4px;
  text-align: center;
}

#intro .nav-section nav ul {
  list-style: none;
}

#intro .nav-section nav ul li {
  display: inline-block;
  font-size: 2.4em;
}

.logo {
  margin: 0 auto;
  max-width: 431px;
  width: 32%;
  min-height: 533px;
  background: url(../images/logo.png) no-repeat center;
  background-size: 100% auto;
  text-indent: -90000%;
}

#about,
#contact {
  background: #222;
  color: #fff;
}

h2,
h3 {
  text-align: center;
}

h2 {
  margin-bottom: 3em;
  font-size: 2.4em;
}

#contact h2 {
  text-align: left;
}

h3 {
  font-size: 2em;
}

#team .container {
  padding-top: 80px;
}

/*#team .current-year {
  display: inline-block;
  width: 100%;
  border-bottom: solid #84878E 1px;
  margin-bottom: 40px;
}
*/
#team .years {
  list-style: none;
}

#team .years-nav {
  width: 100%;
  display: table;
  table-layout: fixed;
  text-align: center;
  margin-bottom: 20px;
}

#team .years-nav .table-years {
  display: table-row;
  padding: 0;
  margin: 0;
}

#team .years-nav  a {
  display: table-cell;
  padding: 20px 5px;
  margin: 0 auto;
  color:#a4a4a4;
  font-size: 1.5em;
}


#team .years-nav a.active {
  background-color: #ddd;
  color: black;
  width: auto;
}

#team .years-nav a:hover {
  color:#468700;
}

#team .year {
  display: none;
}

#team .year.current {
  width: 100%;
  display: inline-block;
}

#team ul {
  width: 100%;
  text-align: center;
}

#team li {
  display: inline-block;
  margin-bottom: 50px;
  padding: 0 5%;
  text-align: center;
  vertical-align: top;
  margin: 0 auto 90px;
}
#team .img-wrapper,
#team li > img {
  border-radius: 100px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  margin-bottom: 10px;
}
#team .img-wrapper,
#team li > img {
  width: 200px;
  height: 200px;
}
#team .img-wrapper {
  overflow: hidden;
}
#team .img-wrapper img {
  width: 200px;
  height: auto;
}

#team .coach-info {
  position: relative;
  text-align: left;
  margin: 0 auto 10px;
  font-size: 1.1em;
  padding: 10px 5px 10px 10px;
  border: solid #DDDDDE 1px;
  border-radius: 3px;
  background-color: #DDDDDE;
  width: 200px;
}

#team li p {
  font-size: 1.1em;
  margin-bottom: 5px;
}

#team .name {
  text-align: center;
}

#team .years-nav a,
#team .coach-info {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#team .hidden {
  display: none;
}

#team .placeholder .coach-info .hidden,
#team .coach-info:hover .hidden {
  position: relative;
  display: inline-block;
  min-width: 100%;
  z-index: 20;
}

#team li.placeholder {
  margin-bottom: 150px;
}

#team li.placeholder .coach-info,
#team li .coach-info:hover  {
  position: absolute;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  z-index: 50;
}

#team .language {
  text-align: center;
}

#team .bio {
  font-weight: 200;
  width: 95%;
  text-align: left;
  padding-right: 3px;
}


#team .coach-social-btn {
  color: transparent;
  width: 100%;
  text-align: center;
}

#team .coach-social-btn img {
   width: 35px;
   height: 35px;
   box-shadow: none;
}

#team .coach-social-btn a {
  text-decoration: none;
}

#team .guest-wrapper {
  width: 55px;
  height: 55px;
  overflow: hidden;
  position: absolute;
  top: -2px;
  right: -1px;
}

#team .guest {
  color: #333;
  text-align: center;
  font-size: 0.9em;
  -webkit-transform: rotate(35deg);
  -moz-transform:    rotate(35deg);
  -ms-transform:     rotate(35deg);
  -o-transform:      rotate(35deg);
  position: relative;
  padding: 5px 0px 5px 0px;
  right: 0px;
  top: 2px;
  width: 80px;
  background-color: #77DE08;
}

#team .active-year {
  color:#478800;
}

#supporters {
   min-height: 100px;
 }

#supporters.container > * {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

#supporters h2 {
  margin-bottom: 2em;
}


#supporters .container {
  padding-top: 100px;
}

#supporters ul {
  list-style: none;
  width: auto;
  text-align: center;
}

#contact .contact-info {
  border-top: 1px solid #596267;
}

#contact .container a {
  color: #a4a4a4;
  text-decoration: none;
}

#contact .container a:hover {
  text-decoration: underline;
}

#contact h2 {
  margin-bottom: 20px;
}

#contact .unit {
  display: inline-block;
  vertical-align: top;
}

#contact .one-third {
  width: 33%;
}

#contact .two-thirds {
  width: 65%;
}

#contact form:invalid button {
  cursor: no-drop;
}
#contact form:invalid button .overlay {
  display: block;
}
#contact form button {
  position: relative;
}
#contact form button .overlay {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  color: #fff;
}

#contact form p {
  margin-bottom: 10px;
}

#contact form label:not(.agreement) {
  display: inline-block;
  width: 95px;
}

#contact form .difficult_choices label:not(:first-child) {
  width: auto;
}

#contact form p input:not([type="checkbox"]) {
  padding: 0 10px;
  width: 194px;
  height: 30px;
  border: none;
}

#contact form input[type="checkbox"] {
  vertical-align: middle;
}

#contact form button {
  display: inline-block;
  padding: 8px 45px;
  background: #fff;
  border: none;
  cursor: pointer;
  font: bold 1em "Courier New", Courier, monospace;
}

#slides {
  border-bottom: 1px solid #3b4347;
}

#slides ul {
  text-align: center;
}

#slides li {
  overflow: hidden;
  display: inline-block;
  width: 200px;
  height: 200px;
  list-style: none;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  vertical-align: top;
}

#slides a {
  display: block;
  height: inherit;
  text-indent: -90000%;
}

#slides li.js {
  background: #f8dc3d url(../images/slide-thumbnails/js.jpg) no-repeat center;
  background-size: 100% auto;
  border: 1px solid #f8dc3d;
}

#slides li.ruby {
  background: #a30c01 url(../images/slide-thumbnails/ruby.jpg) no-repeat center;
  background-size: 100% auto;
  border: 1px solid #a30c01;
}

#slides li.java {
  background: #fff url(../images/slide-thumbnails/java.jpg) no-repeat center;
  background-size: 100% auto;
  border: 1px solid #fff;
}

#slides li:hover {
  background-size: 70% auto;
  border-width: 30px;
  border-radius: 50%;
}

#slides li.disabled {
  pointer-events: none;
}

#slides .disabled {
  position: relative;
  -webkit-filter: grayscale(100%);
}

#slides .disabled::after {
  content: 'Coming up soon…';
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(128, 128, 128, 0.6);
  color: #fff;
  font-size: 2em;
  line-height: 10em;
  text-align: center;
}

footer {
  padding: 40px 15%;
  background: #3b4347;
  color: #fff;
  font-size: 1.4em;
  text-align: center;
}

footer p {
  font-size: 1em;
}

.social-links {
  margin-bottom: 20px;
}

.social-links li {
  display: inline-block;
}

.social-links li a {
  color: #fff;
}

#contact .language {
  float: right;
}

#contact .container {
  padding: 180px 5% 80px 15%;
}
#contact .unit .javascript-description,
#contact .unit .ruby-description,
#contact .unit .java-description {
  display: none;
}
#new_participant.js-hover ~ .javascript-description,
#new_participant.ruby-hover ~ .ruby-description,
#new_participant.java-hover ~ .java-description {
  display: block;
}
@media only screen and (min-width: 1191px) {
  #contact form button {
    margin-left: 106px;
  }
}
@media only screen and (min-width: 900px) {
  .nav-section.is-fixed {
    position: fixed;
    left: 0;
    top: 0;
    height: 70px;
    width: 100%;
    box-shadow: 0 2px 10px 2px rgba(0,0,0,0.4);
    z-index: 150;
  }
}
@media (max-width: 900px) {
  section {
    min-height: 0;
  }
  #intro .nav-section {
    letter-spacing: 0.2em;
  }
  .logo {
    min-height: 300px;
  }
  .nav-section h1 {
    padding-top: 6px;
  }
  #intro .nav-section nav {
    padding-top: 7px;
  }
  .suppl-content a {
    padding-left: 40px;
  }
  #slides li {
    width: 100px;
    height: 100px;
  }
  #new_participant.js-hover ~ .javascript-description,
  #new_participant.ruby-hover ~ .ruby-description,
  #new_participant.java-hover ~ .java-description {
    display: none;
  }

  #team .years-nav  a {
    font-size: 1.3em;
  }

  #supporters img {
    max-width: 100%;
    height: auto;
    width: auto;
  }

  #team .coach-info:hover .hidden,
  #team .coach-info {
    width: 100%;
  }

  #team .coach-info .hidden {
    margin: 10px auto;
    position: relative;
    display: inline-block;
    min-width: 100%;
  }

  #team ul li,
  #team ul li .coach-info {
    position: relative!important;
  }
}
@media screen and (max-width: 860px) {
  .javascript-description,
  .ruby-description,
  .java-description {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  .container,
  #contact .container,
  #supporters .container
 {
    padding: 40px 5%;
  }
  .logo {
    min-height: 70px;
    background-size: auto 50px;
  }
  .nav-section h1,
  .nav-section .suppl-content {
    float: none;
    width: auto;
    text-align: center;
  }
  #team img {
    width: 100px;
    height: 100px;
  }

  #contact .one-third,
  #contact .two-thirds {
    display: block;
    margin-bottom: 20px;
    width: auto;
  }
  .half {
    width: auto;
  }
  #contact form button {
    margin-left: 0;
  }
  #team li {
    width: 100%;
    box-sizing: border-box;
  }

}


@media (max-width: 660px) {
  h2 {
    margin-bottom: 1em;
    font-size: 2em;
  }
  h3 {
    font-size: 1.8em;
  }
  p {
    font-size: 1.4em;
  }
  .nav-section h1,
  .nav-section .suppl-content {
    margin-bottom: 20px;
  }
  #intro .nav-section nav ul li {
    display: block;
    margin-bottom: 10px;
  }
  #intro .nav-section nav ul li a {
    display: block;
  }
  .github-link span {
    width: 35px;
    text-indent: -90000%;
  }
  .container {
    padding: 20px 5%;
  }
  #team li {
    margin-bottom: 30px;
    padding: 0;
  }
  .social-links li {
    margin-bottom: 20px;
    font-size: 1.2em;
  }
  .social-links li,
  .social-links li a {
    display: block;
  }
}
@media (max-width: 460px) {
  #contact .unit {
    display: block;
  }
  #contact form label:not(.agreement) {
    display: block;
    float: none;
    width: 100%;
    text-align: center;
  }
  #contact form p input:not([type="checkbox"]) {
    width: 100%;
  }
  #contact form .difficult_choices label:not(:first-child) {
    display: inline-block;
  }
  #contact form p.difficult_choices {
    margin-bottom: 20px;
  }
  #contact form button {
    width: 100%;
  }
}