.section--core {
  display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-flow: row wrap;

	.header__contact {
    margin-top: 20px;

		&::before {
      max-width: 175px;
			width: 100%;
			height: 44px;
    }

		@include r(767) {
			display: block;
    }

		a {
      max-width: 175px;
			width: 100%;
			height: 44px;
			line-height: 44px;
			background-color: $wave;
			border-color: $wave;

			@include r(767) {
				max-width: 100%;
      }

			&:hover {
        color: $wave;
				background-color: $black;
				border-color: $black;
      }

			&:focus {
        color: $wave;
				background-color: $black;
				border-color: $black;
      }
    }
  }

	.section__sidebar {
    display: flex;
    flex-direction: column;

    @include r(767) {
			margin-bottom: 30px;
    }
  }
}

.core {
  display: flex;
	justify-content: flex-start;
	flex-flow: row wrap;
	align-items: flex-start;
}

.core__tabsWrapper {
  flex: 0 50%;
	margin-bottom: 70px;

	@include r(1355) {
    flex-basis: 100%;
		margin-bottom: 40px;
  }

	@include r(1100) {
		flex-basis: 50%;
  }

	@include r(800) {
		flex-basis: 100%;
  }
}

// Tabs
.core__tabs, .core__tabsContentWrapper {
  display: flex;
	flex-flow: row nowrap;

	button, .core__tabsContent {
    flex: 1 0 50%;
		border: none;
		font-size: 24px;
		font-weight: 700;
		text-transform: none;
		text-align: left;
		pointer-events: none;

		@include r(767) {
      pointer-events: auto;
			flex-basis: 0;
    }
  }

	.core__tabsButton {
    @include r(767) {
      font-size: 16px;
			padding: 16px 20px;
			background-color: transparent;
			white-space: nowrap;
			border: 1px solid transparent;
			border-bottom-color: $dark-200;
    }

		&:hover {
      @include r(767) {
        transform: none;
      }
    }

		&:focus,
		&:active {
      color: $dark;
			background-color: transparent;
    }

		> span {
      @include r(767) {
				opacity: 0.6;
      }
    }
  }

	.core__tabsButton--isActive {
    opacity: 1;
		border-color: $dark-200;
		border-bottom-color: transparent;
		background-color: $white;

		> span {
			opacity: 1;
    }
  }

	.core__tabsContent {
    font-size: 14px;
		font-weight: 400;

		p {
      max-width: 180px;
			margin-bottom: 20px;

			@include r(1355) {
        max-width: 300px;
				padding-right: 16px;
      }

			@include r(767) {
        max-width: 100%;
				display: none;
				padding-right: 0;
      }
    }
  }

	.core__tabsContent--isActive {
    @include r(767) {
      flex: 1 0 100%;
			width: 100%;
    }

		p {
      @include r(767) {
				display: block;
      }
    }
  }
}

.core__tabsContentWrapper {
  @include r(767) {
    padding: 26px 20px 30px;
		border: 1px solid $dark-200;
		border-top: none;
  }
}

// Core member
.core__member, .core__slogan {
  flex: 0 50%;
	margin-bottom: 70px;

	&:nth-of-type(4) {
    @include r(800) {
			margin-top: 40px;
    }

		@include r(767) {
			margin-top: 0;
    }
  }

	&:nth-of-type(5) {
    @include r(80) {
			margin-top: 40px;
    }

		@include r(767) {
      order: 5;
			margin-top: 0;
    }
  }

	&:nth-of-type(6) {
    padding-top: 70px;

		@include r(767) {
			padding-top: 0;
    }
  }

	&:last-child {
    @include r(767) {
			order: 6;
    }
  }
}

.core__memberInner {
  position: relative;
	padding-left: 40px;
	max-width: 250px;
	width: 100%;
	margin: 0 auto;
}

.core__member {
  text-align: center;

	@include r(767) {
		padding: 0 30px 0 0;
  }
}

.core__avatar {
  border-radius: 50%;
	margin-bottom: 20px;
	display: block;
	width: 100%;
	height: auto;
}

.core__name {
  text-align: center;
	font-size: 24px;
	line-height: 1.5;
}

.core__position span {
  padding: 3px 20px;
	background-color: $dark-300;
	text-align: center;
	font-size: 13px;
	color: $yellow-200;
	white-space: nowrap;
}

.core__memberSocials {
  position: absolute;
	padding-top: 45px;
	left: 0;

	a {
    display: block;
		width: 32px;
		height: 32px;
		padding: 6px;
		text-decoration: none;
		margin-bottom: 15px;

		&:last-child {
      margin-bottom: 0;
    }
  }
}

.core__slogan {
  margin-top: 50px;
	font-size: 36px;
	font-weight: 700;
	text-align: left;
	line-height: 1.1;

	@include r(767) {
    flex-basis: 100%;
		order: 4;
  }
}
